<div class="container">
  {{ loadingPermissions() }}
  <app-modal-header [title]="getTitle() + ' ' + environment.name" (cancel)="cancel()"></app-modal-header>
  <div class="modal-body">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="environment.name" />
    </div>
    @if (isEdit()) {
    <div class="mb-3">
      <label for="nameAlias" class="form-label">Alias</label>
      <input type="text" class="form-control" id="nameAlias" [(ngModel)]="environment.nameAlias" />
    </div>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="cancel()">Cancel</button>
    @if(canSave){
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    }
  </div>
</div>
