/* line 17, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 18px;
}

/* line 6, ../sass/_typo.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #282827;
}

/* line 11, ../sass/_typo.scss */
h1, h2, h3 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 15, ../sass/_typo.scss */
h1 {
  font-size: 24px;
  line-height: 36px;
}

/* line 18, ../sass/_typo.scss */
h2 {
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
}

/* line 23, ../sass/_typo.scss */
article > h2 {
  margin-bottom: 18px;
}

/* line 27, ../sass/_typo.scss */
h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 18px;
}

/* line 33, ../sass/_typo.scss */
p, ul, th, td, label, input, textarea, select {
  font-size: 14px;
  line-height: 18px;
}

/* line 37, ../sass/_typo.scss */
a {
  text-decoration: none;
  color: #05366e;
}
/* line 42, ../sass/_typo.scss */
p a:hover, td a:hover {
  text-decoration: underline;
}

/* line 48, ../sass/_typo.scss */
#content p, #content table {
  margin-bottom: 18px;
}

/* line 52, ../sass/_typo.scss */
ul.bullet {
  font-size: 14px;
  line-height: 18px;
  list-style: disc;
  padding: 0;
  margin: 0 0 0 18px;
  margin-bottom: 18px;
}

/* line 60, ../sass/_typo.scss */
strong {
  font-weight: bold;
}

/* line 61, ../sass/_typo.scss */
small {
  font-size: 12px;
  line-height: 18px;
}

/* line 63, ../sass/_typo.scss */
hr {
  border: none;
  border-top: 1px solid #eaeaea;
  margin: 8px -20px;
  color: white;
  background-color: white;
  height: 1px;
}

/* line 330, icons/*.png */
.icons-sprite, .icon.icon-edit, .icon.icon-delete, .icon.icon-add, .icon.icon-info, .icon.icon-close, .icon.icon-comment, .icon.icon-warning {
  background: url('../images/icons-s22cf4c328f.png') no-repeat;
}

/* line 6, ../sass/_icons.scss */
.icon {
  display: block;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-edit {
  background-position: 0 -386px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-delete {
  background-position: 0 -494px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-add {
  background-position: 0 -370px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-info {
  background-position: 0 -290px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-close {
  background-position: 0 -306px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-comment {
  background-position: 0 -478px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 9, ../sass/_icons.scss */
.icon.icon-warning {
  background-position: 0 -322px;
  height: 16px;
  width: 16px;
  background-color: #6b6b6a;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

/* line 20, ../sass/_icons.scss */
.icon-replace {
  text-indent: -9999px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  min-width: 1em;
}

/* line 4, ../sass/_forms.scss */
.btn, .rf-cal-time-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 4px 15px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(#f8f8f8, #d6d6d6);
  background: -moz-linear-gradient(#f8f8f8, #d6d6d6);
  background: -o-linear-gradient(#f8f8f8, #d6d6d6);
  background: linear-gradient(#f8f8f8, #d6d6d6);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0px 1px 0px white;
  font-weight: bold;
  color: #282827;
  cursor: pointer;
  border: 1px solid #d6d6d6;
  *border: 0;
  border-bottom-color: #bdbdbd;
}
/* line 23, ../sass/_forms.scss */
.btn:hover, .rf-cal-time-btn:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background: -moz-linear-gradient(#ffffff, #f8f8f8);
  background: -o-linear-gradient(#ffffff, #f8f8f8);
  background: linear-gradient(#ffffff, #f8f8f8);
}
/* line 26, ../sass/_forms.scss */
.btn:active, .rf-cal-time-btn:active {
  -webkit-box-shadow: inset 0 0 6px 0 #d6d6d6;
  -moz-box-shadow: inset 0 0 6px 0 #d6d6d6;
  box-shadow: inset 0 0 6px 0 #d6d6d6;
}
/* line 30, ../sass/_forms.scss */
.btn.primary, td.rf-cal-monthpicker-ok .rf-cal-time-btn, td.rf-cal-timepicker-ok .rf-cal-time-btn, .primary.rf-cal-time-btn {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2060a0), color-stop(100%, #05366e));
  background: -webkit-linear-gradient(#2060a0, #05366e);
  background: -moz-linear-gradient(#2060a0, #05366e);
  background: -o-linear-gradient(#2060a0, #05366e);
  background: linear-gradient(#2060a0, #05366e);
  text-shadow: 0 -1px 0px #05366e;
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 38, ../sass/_forms.scss */
.btn.primary:hover, td.rf-cal-monthpicker-ok .rf-cal-time-btn:hover, td.rf-cal-timepicker-ok .rf-cal-time-btn:hover, .primary.rf-cal-time-btn:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #184676), color-stop(100%, #031e3d));
  background: -webkit-linear-gradient(#184676, #031e3d);
  background: -moz-linear-gradient(#184676, #031e3d);
  background: -o-linear-gradient(#184676, #031e3d);
  background: linear-gradient(#184676, #031e3d);
}
/* line 41, ../sass/_forms.scss */
.btn.primary:active, td.rf-cal-monthpicker-ok .rf-cal-time-btn:active, td.rf-cal-timepicker-ok .rf-cal-time-btn:active, .primary.rf-cal-time-btn:active {
  -webkit-box-shadow: inset 0 0 6px 0 black;
  -moz-box-shadow: inset 0 0 6px 0 black;
  box-shadow: inset 0 0 6px 0 black;
}
/* line 46, ../sass/_forms.scss */
.btn.light, .light.rf-cal-time-btn {
  background: white;
  text-shadow: none;
  color: #434343;
  border-color: #eaeaea;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  -o-transition: border-color;
  transition: border-color;
}
/* line 52, ../sass/_forms.scss */
.btn.light:hover .icon-delete, .light.rf-cal-time-btn:hover .icon-delete {
  background-color: #cc3300;
}
/* line 53, ../sass/_forms.scss */
.btn.light:hover, .light.rf-cal-time-btn:hover {
  border-color: #a1a1a1;
}
/* line 58, ../sass/_forms.scss */
.btn.disable, .disable.rf-cal-time-btn {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background: -moz-linear-gradient(#ffffff, #f8f8f8);
  background: -o-linear-gradient(#ffffff, #f8f8f8);
  background: linear-gradient(#ffffff, #f8f8f8);
  color: #a1a1a1;
  cursor: inherit;
}
/* line 64, ../sass/_forms.scss */
.btn.back, .back.rf-cal-time-btn {
  position: absolute;
  left: 0;
  font-weight: normal;
  padding-left: 15px;
  margin-right: 70px;
  position: relative;
}
/* line 98, ../sass/_base.scss */
.btn.back:after, .back.rf-cal-time-btn:after {
  content: "";
  width: 19px;
  height: 19px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
  display: block;
  position: absolute;
}
/* line 71, ../sass/_forms.scss */
.btn.back:after, .back.rf-cal-time-btn:after {
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(left top, #f8f8f8, #d6d6d6);
  background: -moz-linear-gradient(left top, #f8f8f8, #d6d6d6);
  background: -o-linear-gradient(left top, #f8f8f8, #d6d6d6);
  background: linear-gradient(left top, #f8f8f8, #d6d6d6);
  border-left: 1px solid #d6d6d6;
  border-bottom: 1px solid #bdbdbd;
  top: 3px;
  left: -8px;
}
/* line 78, ../sass/_forms.scss */
.btn.back:hover:after, .back.rf-cal-time-btn:hover:after {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f8f8f8));
  background: -webkit-linear-gradient(#ffffff, #f8f8f8);
  background: -moz-linear-gradient(#ffffff, #f8f8f8);
  background: -o-linear-gradient(#ffffff, #f8f8f8);
  background: linear-gradient(#ffffff, #f8f8f8);
}
/* line 83, ../sass/_forms.scss */
.btn .icon, .rf-cal-time-btn .icon {
  float: left;
  margin: 0 6px 0 0;
  background-color: #2060a0;
}

/* line 91, ../sass/_forms.scss */
input, textarea {
  width: 60%;
}

/* line 94, ../sass/_forms.scss */
input, textarea, select {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 98, ../sass/_forms.scss */
textarea {
  height: auto;
}

/* line 104, ../sass/_forms.scss */
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  font-family: Helvetica, Arial, sans-serif;
  color: #434343;
  padding: 4px 10px;
  background-color: white;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: inset 0 1px 2px 0 #eaeaea;
  -moz-box-shadow: inset 0 1px 2px 0 #eaeaea;
  box-shadow: inset 0 1px 2px 0 #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color linear 0.2s, background linear 0.2s;
  -moz-transition: border-color linear 0.2s, background linear 0.2s;
  -o-transition: border-color linear 0.2s, background linear 0.2s;
  transition: border-color linear 0.2s, background linear 0.2s;
}
/* line 117, ../sass/_forms.scss */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
  background-color: #fffce1;
  -webkit-box-shadow: inset 0 1px 2px 0 #fff27b;
  -moz-box-shadow: inset 0 1px 2px 0 #fff27b;
  box-shadow: inset 0 1px 2px 0 #fff27b;
  border-color: #c9c9c9;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
}

/* line 127, ../sass/_forms.scss */
input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"] {
  width: auto;
}

/* line 132, ../sass/_forms.scss */
select, input[type="file"] {
  height: 24px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 24px;
}

/* line 139, ../sass/_forms.scss */
select {
  width: 270px;
  border: 1px solid #bbb;
}

/* line 145, ../sass/_forms.scss */
select[multiple], select[size] {
  height: auto;
}

/* line 149, ../sass/_forms.scss */
label {
  display: block;
  font-size: 14px;
  line-height: 18px;
}

/* line 155, ../sass/_forms.scss */
.radio, .checkbox {
  min-height: 18px;
  padding-left: 18px;
}

/* line 159, ../sass/_forms.scss */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 164, ../sass/_forms.scss */
.checkboxList label {
  display: inline-block;
}

/* line 167, ../sass/_forms.scss */
.checkboxList td {
  padding: 2px 2px 2px 2px;
}

/* line 172, ../sass/_forms.scss */
.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 5px;
}

/* line 178, ../sass/_forms.scss */
.radio.inline, .checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 184, ../sass/_forms.scss */
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 188, ../sass/_forms.scss */
.help-inline {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  padding-left: 5px;
}

/* line 194, ../sass/_forms.scss */
.control-group {
  overflow: hidden;
  *zoom: 1;
  margin-top: -4px;
  padding-bottom: 12px;
}

/* line 201, ../sass/_forms.scss */
.control-label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}

/* line 208, ../sass/_forms.scss */
.controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}
/* line 215, ../sass/_forms.scss */
.controls:first-child {
  *padding-left: 160px;
}

/* line 220, ../sass/_forms.scss */
.form-actions {
  padding-left: 160px;
}

/* line 227, ../sass/_forms.scss */
.fieldValidationError, .fieldNoValueValidationError{
  color: #b94a48 !important;
  background-color: #f2dede !important;
  border-color: orange !important;
  box-shadow: 0 0 6px #d59392 !important;
}

/* line 234, ../sass/_forms.scss */
.errorMessage {
  color: #b94a48 !important;
}

/* line 4, ../sass/_table.scss */
table {
  width: 100%;
}

/* line 8, ../sass/_table.scss */
td {
  vertical-align: top;
  padding-bottom: 18px;
}
/* line 11, ../sass/_table.scss */
td.last {
  width: 20px;
  padding-left: 20px;
}

/* line 17, ../sass/_table.scss */
table.well, table.rf-p {
  border: 1px solid #eaeaea;
  border-collapse: separate;
}
/* line 22, ../sass/_table.scss */
table.well caption, table.rf-p caption {
  padding: 10px 20px 2px;
  background: #6b6b6a;
  color: white;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
/* line 30, ../sass/_table.scss */
table.well thead tr, table.rf-p thead tr {
  background-color: #eaeaea;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(#ffffff, #eaeaea);
  background: -moz-linear-gradient(#ffffff, #eaeaea);
  background: -o-linear-gradient(#ffffff, #eaeaea);
  background: linear-gradient(#ffffff, #eaeaea);
}
/* line 34, ../sass/_table.scss */
table.well thead tr th, table.rf-p thead tr th {
  border-bottom: 1px solid #d6d6d6;
  border-left: 1px solid white;
  border-right: 1px solid #d6d6d6;
}
/* line 38, ../sass/_table.scss */
table.well thead tr th:first-child, table.rf-p thead tr th:first-child {
  border-left: none;
}
/* line 41, ../sass/_table.scss */
table.well thead tr th:last-child, table.rf-p thead tr th:last-child {
  border-right: none;
}
/* line 48, ../sass/_table.scss */
table.well th, table.rf-p th, table.well td, table.rf-p td {
  padding: 10px 20px;
}
/* line 53, ../sass/_table.scss */
table.well tbody td, table.rf-p tbody td {
  background-color: #f8f8f8;
}
/* line 2, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody th, table.rf-p tbody th {
  background-color: white;
}
/* line 4, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody th.even, table.rf-p tbody th.even, table.well tbody th:nth-child(2n), table.rf-p tbody th:nth-child(2n) {
  background-color: white-none;
}
/* line 8, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tr.odd td, table.rf-p tbody tr.odd td, table.well tbody tr:nth-child(2n+1) td, table.rf-p tbody tr:nth-child(2n+1) td {
  background-color: white;
}
/* line 10, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tr.odd td.even, table.rf-p tbody tr.odd td.even, table.well tbody tr.odd td:nth-child(2n), table.rf-p tbody tr.odd td:nth-child(2n), table.well tbody tr:nth-child(2n+1) td.even, table.rf-p tbody tr:nth-child(2n+1) td.even, table.well tbody tr:nth-child(2n+1) td:nth-child(2n), table.rf-p tbody tr:nth-child(2n+1) td:nth-child(2n) {
  background-color: white-none;
}
/* line 14, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tr.even td, table.rf-p tbody tr.even td {
  background-color: #f8f8f8;
}
/* line 16, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tr.even td.even, table.rf-p tbody tr.even td.even, table.well tbody tr.even td:nth-child(2n), table.rf-p tbody tr.even td:nth-child(2n) {
  background-color: #f8f8f8-none;
}
/* line 19, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tfoot th, table.rf-p tbody tfoot th, table.well tbody tfoot td, table.rf-p tbody tfoot td {
  background-color: white;
}
/* line 21, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/tables/_alternating-rows-and-columns.scss */
table.well tbody tfoot th.even, table.rf-p tbody tfoot th.even, table.well tbody tfoot th:nth-child(2n), table.rf-p tbody tfoot th:nth-child(2n), table.well tbody tfoot td.even, table.rf-p tbody tfoot td.even, table.well tbody tfoot td:nth-child(2n), table.rf-p tbody tfoot td:nth-child(2n) {
  background-color: white-none;
}

/* line 58, ../sass/_table.scss */
.propertyTable {
  margin: 0px;
}

/* line 62, ../sass/_table.scss */
.propertyTable td {
  padding: 0px;
}

/* line 5, ../sass/_nav.scss */
header nav {
  float: right;
}
/* line 7, ../sass/_nav.scss */
header nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
/* line 48, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:first-child, header nav ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
header nav ul li.last {
  padding-right: 0;
}
/* line 9, ../sass/_nav.scss */
header nav ul a {
  font-size: 14px;
  line-height: 36px;
}
/* line 12, ../sass/_nav.scss */
header nav ul li.settings {
  border-left: 1px solid #434343;
  border-right: 1px solid #434343;
  padding-right: 20px;
}
/* line 17, ../sass/_nav.scss */
header nav ul .current {
  font-weight: bold;
  color: white;
  background: #363636;
}

/* line 28, ../sass/_nav.scss */
nav a {
  color: #d6d6d6;
  text-decoration: none;
}
/* line 30, ../sass/_nav.scss */
nav a:hover {
  color: white;
}

/* line 35, ../sass/_nav.scss */
.caret {
  font-size: 0.75em;
}

/* line 39, ../sass/_nav.scss */
aside {
  margin-left: -3em;
  margin-top: -2px;
}
/* line 43, ../sass/_nav.scss */
aside nav.primary, aside td.rf-cal-monthpicker-ok nav.rf-cal-time-btn, td.rf-cal-monthpicker-ok aside nav.rf-cal-time-btn, aside td.rf-cal-timepicker-ok nav.rf-cal-time-btn, td.rf-cal-timepicker-ok aside nav.rf-cal-time-btn {
  text-transform: uppercase;
}
/* line 47, ../sass/_nav.scss */
aside nav > ul {
  padding-top: 27px;
  padding-bottom: 10px;
}
/* line 52, ../sass/_nav.scss */
aside nav > ul > li ul li:first-child a {
  border-top: none;
}
/* line 53, ../sass/_nav.scss */
aside nav > ul > li a {
  display: block;
  padding: 10px 20px 10px 3em;
  border-top: 1px solid #515151;
  border-bottom: 1px solid #2a2a2a;
  text-shadow: 0 1px 0px #282827;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
/* line 62, ../sass/_nav.scss */
aside nav > ul > li a:hover {
  background: #282827;
}
/* line 66, ../sass/_nav.scss */
aside nav > ul > li.current > a {
  background: #282827;
  color: white;
  font-weight: bold;
  border-bottom: 1px solid #515151;
  position: relative;
}
/* line 98, ../sass/_base.scss */
aside nav > ul > li.current > a:after {
  content: "";
  width: 28px;
  height: 28px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
  display: block;
  position: absolute;
}
/* line 72, ../sass/_nav.scss */
aside nav > ul > li.current > a:after {
  background: #282827;
  top: 5px;
  right: -13px;
}
/* line 78, ../sass/_nav.scss */
aside nav > ul > li ul li.current > a {
  color: white;
  font-weight: bold;
}
/* line 82, ../sass/_nav.scss */
aside nav > ul > li ul li a {
  font-size: 12px;
  line-height: 18px;
  padding-left: 6em;
}

/* line 91, ../sass/_nav.scss */
.level2 a {
  padding-left: 4em;
}

/* line 92, ../sass/_nav.scss */
.level3 a {
  padding-left: 6em;
}

/* line 93, ../sass/_nav.scss */
.level4 a {
  padding-left: 8em;
}

/* line 104, ../sass/_nav.scss */
.nav-tabs {
  overflow: hidden;
  *zoom: 1;
}

/* line 107, ../sass/_nav.scss */
.nav-tabs > li {
  float: left;
}

/* line 110, ../sass/_nav.scss */
.nav-tabs > li > a {
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
}

/* line 119, ../sass/_nav.scss */
.nav-tabs {
  min-width: 180px;
  background-color: #f8f8f8;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-right: -1px;
  margin-bottom: -1px;
}

/* line 126, ../sass/_nav.scss */
.nav-tabs > li > h3 {
  display: block;
  margin: 0;
  padding: 15px 10px 5px;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  color: #6b6b6a;
  text-transform: uppercase;
  font-size: 11px;
}

/* line 136, ../sass/_nav.scss */
.nav-tabs > li > a {
  display: block;
}
/* line 138, ../sass/_nav.scss */
.nav-tabs > li > a:hover {
  background: #e9edf2;
}

/* line 143, ../sass/_nav.scss */
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  cursor: default;
}

/* line 149, ../sass/_nav.scss */
.tabbable {
  overflow: hidden;
  *zoom: 1;
  margin: -8px -20px -10px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 155, ../sass/_nav.scss */
.tab-content {
  overflow: auto;
  padding: 10px 20px 20px;
  border-left: 1px solid #eaeaea;
  background: white;
  min-height: 300px;
}

/* line 169, ../sass/_nav.scss */
.tab-content > .tab-pane {
  display: none;
}

/* line 172, ../sass/_nav.scss */
.tab-content > .active {
  display: block;
}

/* line 177, ../sass/_nav.scss */
.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
  float: none;
}
/* line 180, ../sass/_nav.scss */
.tabs-left > .nav-tabs > li:first-child > a, .tabs-right > .nav-tabs > li:first-child > a {
  border-top: none;
}

/* line 184, ../sass/_nav.scss */
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
  border-top: 1px solid white;
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  margin-right: 0;
}

/* line 192, ../sass/_nav.scss */
.tabs-left > .nav-tabs {
  float: left;
}

/* line 201, ../sass/_nav.scss */
.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover {
  background: white;
  border-right: none;
}

/* line 5, ../sass/_tooltip.scss */
.info:hover .icon {
  background-color: #2060a0;
}

.--property--info-box {
  display: none;
  padding: 20px;
  background: white;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px #d6d6d6;
  -moz-box-shadow: 1px 1px 6px #d6d6d6;
  box-shadow: 1px 1px 6px #d6d6d6;
  margin-left: -5px;
}


/* line 5, ../sass/_alerts.scss */
.alert {
  padding: 10px 60px 10px 60px;
  -webkit-box-shadow: 1px 1px 6px #d6d6d6;
  -moz-box-shadow: 1px 1px 6px #d6d6d6;
  box-shadow: 1px 1px 6px #d6d6d6;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  margin: 0 20px;
  overflow: hidden;
}

/* line 19, ../sass/_alerts.scss */
.alert .close {
  position: absolute;
  top: 6px;
  right: 6px;
  background-color: #a1a1a1;
}
/* line 23, ../sass/_alerts.scss */
.alert .close:hover {
  background-color: #434343;
}

/* line 28, ../sass/_alerts.scss */
.alert .symbol {
  background: url("../images/bg_alert.png") #cc3300 no-repeat top left;
  display: block;
  float: left;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 42, ../sass/_alerts.scss */
.alert-success .symbol, .alert-success .close {
  background-color: #087e4c;
}
/* line 43, ../sass/_alerts.scss */
.alert-success .close:hover {
  background-color: #06653d;
}

/* line 46, ../sass/_alerts.scss */
.alert-danger .symbol, .alert-danger .close, .alert-error .symbol, .alert-error .close {
  background-color: #cc3300;
}
/* line 47, ../sass/_alerts.scss */
.alert-danger .close:hover, .alert-error .close:hover {
  background-color: #a32900;
}

/* line 50, ../sass/_alerts.scss */
.alert-info .symbol, .alert-info .close {
  background-color: #2060a0;
}
/* line 51, ../sass/_alerts.scss */
.alert-info .close:hover {
  background-color: #05366e;
}

/* line 56, ../sass/_alerts.scss */
.alert-block {
  float: right;
}

/* line 59, ../sass/_alerts.scss */
.alert-block > h3, .alert-block > p, .alert-block > ul {
  margin-bottom: 0;
}

/* line 62, ../sass/_alerts.scss */
.alert-block p + p {
  margin-top: 18px;
}

/* line 68, ../sass/_alerts.scss */
.warning .icon {
  background-color: #cc3300;
}
/* line 70, ../sass/_alerts.scss */
.warning .icon:hover {
  background-color: #a32900;
}

/* line 4, ../sass/_comments.scss */
.comments_list {
  clear: both;
}
/* line 6, ../sass/_comments.scss */
.comments_list li {
  overflow: hidden;
  *zoom: 1;
  margin-top: 13px;
  max-width: 500px;
}
/* line 10, ../sass/_comments.scss */
.comments_list li .icon {
  float: left;
  margin-top: 2px;
  margin-right: 5px;
  background-color: #d6d6d6;
}

/* line 4, ../sass/_popup.scss */
.rf-pp-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #282827;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 14, ../sass/_popup.scss */
.rf-pp-cntr {
  background: white;
  z-index: 100;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 6px #6b6b6a;
  -moz-box-shadow: 1px 1px 6px #6b6b6a;
  box-shadow: 1px 1px 6px #6b6b6a;
  /*height: 450px;*/
  overflow: hidden;
}

/* line 23, ../sass/_popup.scss */
.rf-pp-hdr {
  position: relative;
  cursor: move;
  padding-right: 40px;
  border-bottom: 1px solid #eaeaea;
}

/* line 30, ../sass/_popup.scss */
.rf-pp-hdr-cnt {
  overflow: hidden;
  padding: 10px 20px;
}

/* line 35, ../sass/_popup.scss */
.rf-pp-cnt-scrlr {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 44, ../sass/_popup.scss */
.rf-pp-btn {
  outline-style: none;
  position: absolute;
  clip: rect(0px, 0px, 1px, 1px);
  height: 0px;
  width: 0px;
  left: 0px;
  top: 0px;
  z-index: -300;
  opacity: 0.1;
  filter: alpha(opacity=10);
}

/* line 58, ../sass/_popup.scss */
.rf-pp-hdr-cntrls {
  position: absolute;
  top: 6px;
  right: 6px;
}
/* line 61, ../sass/_popup.scss */
.rf-pp-hdr-cntrls a {
  z-index: 100;
  background-color: #a1a1a1;
}
/* line 64, ../sass/_popup.scss */
.rf-pp-hdr-cntrls a:hover {
  background-color: #434343;
}

/* line 70, ../sass/_popup.scss */
.rf-pp-cnt-scrlr {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: auto;
  /*height: 402px;*/
}

/* line 79, ../sass/_popup.scss */
.rf-pp-cnt {
  padding: 20px;
  color: black;
  overflow: hidden;
  *zoom: 1;
}
/* line 83, ../sass/_popup.scss */
.rf-pp-cnt > .btn, .rf-pp-cnt > .rf-cal-time-btn {
  margin: 0;
  margin-top: 18px;
}

/* line 90, ../sass/_popup.scss */
.rf-pp-cntr {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 94, ../sass/_popup.scss */
.rf-pp-shdw {
  display: none;
}

/* line 98, ../sass/_popup.scss */
.rf-pp-cntr {
  border: 1px solid #EAEAEA !important;
}

/* line 102, ../sass/_popup.scss */
.rf-pp-hdr {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}

/* line 104, ../sass/_popup.scss */
.rf-pp-cntr aside {
  margin-top: 0px;
  font-size: 14px;
}

/* line 109, ../sass/_popup.scss */
.rf-pp-cntr aside nav > ul {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 114, ../sass/_popup.scss */
.rf-pp-hdr-cnt {
  font-weight: bold;
}

/* line 4, ../sass/_modals.scss */
.modal-open .dropdown-menu {
  z-index: 2050;
}

/* line 5, ../sass/_modals.scss */
.modal-open .dropdown.open {
  *z-index: 2050;
}

/* line 6, ../sass/_modals.scss */
.modal-open .popover {
  z-index: 2060;
}

/* line 7, ../sass/_modals.scss */
.modal-open .tooltip {
  z-index: 2070;
}

/* line 9, ../sass/_modals.scss */
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

/* line 19, ../sass/_modals.scss */
.modal-backdrop.fade {
  opacity: 0;
}

/* line 24, ../sass/_modals.scss */
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 29, ../sass/_modals.scss */
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1050;
  width: 800px;
  margin: -250px 0 0 -280px;
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 3px 7px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 7px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 3px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 47, ../sass/_modals.scss */
.modal.fade {
  top: -25%;
  -webkit-transition: opacity;
  -moz-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}

/* line 57, ../sass/_modals.scss */
.modal.fade.in {
  top: 50%;
}

/* line 61, ../sass/_modals.scss */
.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

/* line 66, ../sass/_modals.scss */
.modal-header .close {
  margin-top: 2px;
}

/* line 70, ../sass/_modals.scss */
.modal-body {
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

/* line 76, ../sass/_modals.scss */
.modal-form {
  margin-bottom: 0;
}

/* line 80, ../sass/_modals.scss */
.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

/* line 96, ../sass/_modals.scss */
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: "";
}

/* line 101, ../sass/_modals.scss */
.modal-footer:after {
  clear: both;
}

/* line 105, ../sass/_modals.scss */
.modal-footer .btn + .btn, .modal-footer .rf-cal-time-btn + .btn, .modal-footer .btn + .rf-cal-time-btn, .modal-footer .rf-cal-time-btn + .rf-cal-time-btn {
  margin-bottom: 0;
  margin-left: 5px;
}

/* line 110, ../sass/_modals.scss */
.modal-footer .btn-group .btn + .btn, .modal-footer .btn-group .rf-cal-time-btn + .btn, .modal-footer .btn-group .btn + .rf-cal-time-btn, .modal-footer .btn-group .rf-cal-time-btn + .rf-cal-time-btn {
  margin-left: -1px;
}

/* line 4, ../sass/_calendar.scss */
.controls td {
  padding-bottom: inherit;
}

/* line 6, ../sass/_calendar.scss */
.rf-cal-popup {
  position: inherit !important;
  background: white !important;
  cursor: default !important;
  width: 500px !important;
  -webkit-box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
  -moz-box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
  box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
}

/* line 15, ../sass/_calendar.scss */
.rf-cal-hdr {
  border-right: 0px solid !important;
  background: #282827 !important;
  color: white !important;
  padding: 0 4px !important;
}
/* line 20, ../sass/_calendar.scss */
.rf-cal-hdr .rf-cal-tl-btn-hov {
  background: #434343 !important;
}

/* line 24, ../sass/_calendar.scss */
.rf-cal-tl {
  vertical-align: middle !important;
  text-align: center !important;
  width: 20px !important;
  height: 30px !important;
}

/* line 30, ../sass/_calendar.scss */
.rf-cal-hdr-month {
  vertical-align: middle !important;
  text-align: center !important;
  height: 30px !important;
  white-space: nowrap !important;
}

/* line 39, ../sass/_calendar.scss */
.rf-cal-edtr-cntr {
  position: absolute !important;
  top: 0;
  left: 0 !important;
  width: 100% !important;
}

/* line 44, ../sass/_calendar.scss */
.rf-cal-edtr-layout-shdw {
  display: none !important;
}

/* line 50, ../sass/_calendar.scss */
.rf-cal-monthpicker-cnt, .rf-cal-timepicker-cnt {
  background: white !important;
  position: relative !important;
  -webkit-box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
  -moz-box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
  box-shadow: 1px !important 1px !important 6px !important #6b6b6a !important;
}

/* line 55, ../sass/_calendar.scss */
td.rf-cal-monthpicker-ok, td.rf-cal-timepicker-ok {
  padding: 10px 5px 10px 10px !important;
  border-top: 1px solid #eaeaea !important;
}

/* line 60, ../sass/_calendar.scss */
td.rf-cal-monthpicker-cancel, td.rf-cal-timepicker-cancel {
  padding: 10px 10px 10px 5px !important;
  border-top: 1px solid #eaeaea !important;
}

/* line 66, ../sass/_calendar.scss */
.rf-cal-monthpicker-split {
  border-right: 1px solid #eaeaea !important;
}

/* line 71, ../sass/_calendar.scss */
.rf-cal-timepicker-inp {
  padding: 7px 7px 5px 7px !important;
  white-space: nowrap !important;
}

/* line 81, ../sass/_calendar.scss */
.rf-cal-time-btn {
  text-align: center !important;
}

/* line 85, ../sass/_calendar.scss */
.rf-cal-time-btn-press {
  border: 1px solid !important;
}

/* line 90, ../sass/_calendar.scss */
.rf-cal-sp-inp-ctnr {
  padding-left: 8px !important;
  width: 45px !important;
}

/* line 94, ../sass/_calendar.scss */
.rf-cal-sp-up, .rf-cal-sp-down {
  background: url("../images/plus-minus.png") #2060a0 no-repeat !important;
  height: 16px !important;
  width: 16px !important;
  margin: 0 1px 1px 0 !important;
  cursor: pointer !important;
}

/* line 101, ../sass/_calendar.scss */
.rf-cal-sp-up {
  background-position: top center !important;
}

/* line 104, ../sass/_calendar.scss */
.rf-cal-sp-down {
  background-position: bottom center !important;
}

/* line 107, ../sass/_calendar.scss */
.rf-cal-sp-press {
  background-color: #05366e !important;
  margin: 1px 0 0 1px !important;
}

/* line 113, ../sass/_calendar.scss */
.rf-cal-c-cnt-overflow {
  width: 25px !important;
  height: 22px !important;
}

/* line 117, ../sass/_calendar.scss */
.rf-cal-c-cnt {
  overflow: hidden !important;
}

/* line 120, ../sass/_calendar.scss */
.rf-cal-c {
  border-bottom: 1px solid #d6d6d6 !important;
  border-right: 1px solid #d6d6d6 !important;
  padding: 0px !important;
  vertical-align: middle !important;
  text-align: center !important;
}

/* line 127, ../sass/_calendar.scss */
.rf-cal-day-lbl {
  background: #eaeaea !important;
  color: #434343 !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  border-bottom: 1px solid #d6d6d6 !important;
  border-right: 0px solid !important;
  vertical-align: middle !important;
  text-align: center !important;
  height: 22px !important;
}

/* line 140, ../sass/_calendar.scss */
.rf-cal-week {
  border-bottom: 1px solid #434343 !important;
  border-right: 1px solid #434343 !important;
  vertical-align: middle !important;
  text-align: center !important;
  width: 15px !important;
  background: #6b6b6a !important;
  color: #eaeaea !important;
}

/* line 149, ../sass/_calendar.scss */
.rf-cal-right-c {
  border-right: 0px !important;
}

/* line 154, ../sass/_calendar.scss */
.rf-cal-tl-ftr {
  height: 22px !important;
  padding: 1px 2px 1px 1px !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

/* line 160, ../sass/_calendar.scss */
.rf-cal-ftr {
  border-top: 1px solid !important;
  border-right: 0px solid !important;
  padding: 0px !important;
}

/* line 166, ../sass/_calendar.scss */
.rf-cal-ftr table {
  margin: 0px !important;
}

/* line 171, ../sass/_calendar.scss */
.rf-cal-edtr-cntr, .rf-cal-edtr-cntr table, .rf-cal-edtr-cntr tr, .rf-cal-edtr-cntr td {
  padding: 0px !important;
  margin: 0px !important;
}

/* line 176, ../sass/_calendar.scss */
.rf-cal-edtr-cntr {
  width: auto !important;
}

/* line 181, ../sass/_calendar.scss */
.rf-cal-boundary-day {
  color: #a1a1a1 !important;
}

/* line 184, ../sass/_calendar.scss */
.rf-cal-today {
  background: #05366e !important;
  color: white !important;
}

/* line 188, ../sass/_calendar.scss */
.rf-cal-tl-btn {
  cursor: pointer !important;
  padding: 2px 3px 2px 3px !important;
  white-space: nowrap !important;
}

/* line 200, ../sass/_calendar.scss */
.rf-cal-ftr-optnl {
  border-top: 1px solid !important;
  border-right: 0px solid !important;
  padding: 7px !important;
  height: 22px !important;
  font-weight: bold !important;
  background: red !important;
}

/* line 208, ../sass/_calendar.scss */
.rf-cal-sp-inp {
  border: 0px !important;
  padding: 0px 0px 0px 3px !important;
  background: none transparent scroll repeat 0% 0% !important;
  width: 18px;
}

/* line 214, ../sass/_calendar.scss */
.rf-cal-sp-inp-cntr {
  background-position: left top !important;
  background-repeat: repeat-x !important;
  border: 1px solid !important;
}

/* line 219, ../sass/_calendar.scss */
.rf-cal-tl-btn-dis {
  cursor: pointer !important;
  padding: 2px 3px 2px 3px !important;
}

/* line 223, ../sass/_calendar.scss */
.rf-cal-tl-btn-hov {
  color: white !important;
  background: #05366e !important;
}

/* line 228, ../sass/_calendar.scss */
.rf-cal-time-inp {
  width: 22px !important;
  margin: 0px 2px !important;
}

/* line 233, ../sass/_calendar.scss */
.rf-cal-edtr-btn {
  width: 36px !important;
  padding: 2px !important;
  margin: 2px !important;
  text-align: center !important;
  cursor: pointer !important;
}

/* line 240, ../sass/_calendar.scss */
.rf-cal-edtr-btn-over {
  padding: 1px !important;
  border: 1px solid !important;
}

/* line 244, ../sass/_calendar.scss */
.rf-cal-edtr-btn-sel {
  padding: 2px !important;
  border: 0px !important;
  font-weight: bold !important;
  cursor: default !important;
}

/* line 250, ../sass/_calendar.scss */
.rf-cal-edtr-tl-over {
  padding: 1px !important;
  border: 1px solid !important;
}

/* line 254, ../sass/_calendar.scss */
.rf-cal-edtr-tl-press {
  padding: 1px !important;
  border: 1px solid !important;
}

/* line 258, ../sass/_calendar.scss */
input.rf-cal-dflt-lbl {
  color: #b3b3b3 !important;
}

/* line 6, ../sass/_autocomplete.scss */
*.rf-au {
  border-style: solid;
  display: inline-block;
  background-image: url(/AMW_web/rfRes/autocompleteFieldGradient.png.jsf?v=4.1.0.Final&db=eAFjAAAAAQAB&ln=org.richfaces.images);
  background-repeat: repeat-x;
  background-position: top left;
  font-size: 1px;
}

/* line 14, ../sass/_autocomplete.scss */
*.rf-au-fld-btn {
  display: inline-block;
  font-size: 1px;
  white-space: nowrap;
  vertical-align: top;
}

/* *.rf-au-btn {
	background-image: url(/AMW_web/rfRes/autocompleteButtonGradient.png.jsf?v=4.1.0.Final&db=eAFjAAAAAQAB&ln=org.richfaces.images);
	background-repeat: repeat-x;
	background-position: top left;
	border-left-width: 1px;
	border-left-style: solid;
	display: inline-block;
	vertical-align: top;
}
*.rf-au-btn-arrow, *.rf-au-btn-arrow-dis {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/AMW_web/rfRes/comboDownButton.png.jsf?v=4.1.0.Final&db=eAH7z8DAAAAEAAEA&ln=org.richfaces.images);
	cursor: pointer;
	width: 15px;
	height: 16px;
	display: inline-block;
}
*.rf-au-btn-arrow-dis {
	background-image: url(/AMW_web/rfRes/comboDisabledDownButton.png.jsf?v=4.1.0.Final&db=eAH7f-TASQAIlQNN&ln=org.richfaces.images);
	cursor: default;
}
*/
/* line 43, ../sass/_autocomplete.scss */
*.rf-au-lst-cord {
  position: absolute;
  z-index: 10000;
  display: none;
}

/* line 48, ../sass/_autocomplete.scss */
*.rf-au-lst-dcrtn {
  background: #f8f8f8;
  padding: 3px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 54, ../sass/_autocomplete.scss */
*.rf-au-lst-scrl {
  overflow: auto;
  overflow-x: hidden;
  width: 200px;
  max-height: 100px;
  min-height: 20px;
}

/* line 61, ../sass/_autocomplete.scss */
*.rf-au-itm {
  cursor: default;
  padding: 2px;
}

/* line 65, ../sass/_autocomplete.scss */
*.rf-au-itm-sel {
  padding: 1px;
}

/* line 68, ../sass/_autocomplete.scss */
*.rf-au-opt {
  white-space: nowrap;
  list-style-type: none;
}

/* line 72, ../sass/_autocomplete.scss */
*.rf-au-opt-sel {
  width: 100%;
}

/* line 75, ../sass/_autocomplete.scss */
*.rf-au-shdw {
  display: inline-block;
  position: absolute;
  float: left;
  padding: 6px 6px 6px 6px;
  top: -6px;
  left: -7px;
}

/* *.rf-au-shdw-t {
	background-image: url(/AMW_web/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: top left;
	position: absolute;
	width: 6px;
	top: 0px;
	bottom: 6px;
	left: 0px;
}
*.rf-au-shdw-l {
	background-image: url(/AMW_web/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: bottom left;
	position: absolute;
	height: 6px;
	bottom: 0px;
	left: 0px;
	right: 6px;
}
*.rf-au-shdw-r {
	background-image: url(/AMW_web/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: bottom right;
	position: absolute;
	width: 6px;
	top: 6px;
	bottom: 0px;
	right: 0px;
}
*.rf-au-shdw-b {
	background-image: url(/AMW_web/javax.faces.resource/combo_list_shadow.png.jsf?ln=org.richfaces);
	background-position: right top;
	position: absolute;
	height: 6px;
	top: 0px;
	left: 6px;
	right: 0px;
}
*/
/* line 120, ../sass/_autocomplete.scss */
*.rf-au-lst-ul {
  margin: 0px;
  padding: 0px;
}

/* line 124, ../sass/_autocomplete.scss */
*.rf-au-tbl {
  border-spacing: 0px;
}

/* line 21, ../sass/screen.scss */
body {
  font-family: arial;
}

/* line 25, ../sass/screen.scss */
header {
  overflow: hidden;
  *zoom: 1;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #282827), color-stop(100%, #161615));
  background: -webkit-linear-gradient(#282827, #161615);
  background: -moz-linear-gradient(#282827, #161615);
  background: -o-linear-gradient(#282827, #161615);
  background: linear-gradient(#282827, #161615);
  color: white;
}
/* line 30, ../sass/screen.scss */
header h1 {
  float: left;
}

/* line 35, ../sass/screen.scss */
#subheader {
  padding: 10px 0;
  background: url('../images/bg_subheader.png?1396254161'), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea));
  background: url('../images/bg_subheader.png?1396254161'), -webkit-linear-gradient(#f8f8f8, #eaeaea);
  background: url('../images/bg_subheader.png?1396254161'), -moz-linear-gradient(#f8f8f8, #eaeaea);
  background: url('../images/bg_subheader.png?1396254161'), -o-linear-gradient(#f8f8f8, #eaeaea);
  background: url('../images/bg_subheader.png?1396254161'), linear-gradient(#f8f8f8, #eaeaea);
  overflow: hidden;
  *zoom: 1;
}
/* line 42, ../sass/screen.scss */
#subheader h1 {
  font-size: 28px;
  line-height: 36px;
}

/* line 47, ../sass/screen.scss */
aside {
  float: left;
  width: 250px;
  background: #434343;
}

/* line 53, ../sass/screen.scss */
#main {
  border-top: 2px solid #d6d6d6;
}

/* line 56, ../sass/screen.scss */
#main > .container {
  background: url("../images/bg_body.png") white repeat-y top left;
}

/* line 60, ../sass/screen.scss */
#content {
  width: 100%;
}
/* line 62, ../sass/screen.scss */
#content > .container {
  overflow: hidden;
  padding-top: 27px;
  padding-bottom: 54px;
  padding-right: 0;
}
/* line 69, ../sass/screen.scss */
#content article {
  margin-bottom: 18px;
}

/* line 72, ../sass/screen.scss */
.actionbar {
  float: right;
  margin-top: -2px;
  margin-bottom: 7px;
}
/* line 76, ../sass/screen.scss */
.actionbar ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.actionbar ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.actionbar ul li:first-child, .actionbar ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.actionbar ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.actionbar ul li.last {
  padding-right: 0;
}

/* line 79, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 127em;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3em;
  padding-right: 3em;
}
/* line 38, ../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 88, ../sass/screen.scss */
div.well, div.rf-p {
  background: #f8f8f8;
  border: 1px solid #eaeaea;
  padding: 10px 20px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* line 95, ../sass/screen.scss */
.meta {
  color: #6b6b6a;
}

/* line 96, ../sass/screen.scss */
.right {
  float: right;
}

/* line 97, ../sass/screen.scss */
.currentContext {
  color: green !important;
}

/* line 98, ../sass/screen.scss */
.clear {
  font-size: 0px;
  height: 0;
  line-height: 0;
  clear: both;
  padding: 0;
  margin: 0;
}

/* line 103, ../sass/screen.scss */
.forty {
  width: 38.58268%;
  float: left;
  margin-right: 2.3622%;
  display: inline;
}

/* line 106, ../sass/screen.scss */
.fifty {
  width: 48.8189%;
  float: left;
  margin-right: 2.3622%;
  display: inline;
}

/* line 109, ../sass/screen.scss */
.sixty {
  width: 59.05512%;
  float: left;
  margin-right: 2.3622%;
  display: inline;
}

/* line 112, ../sass/screen.scss */
.omega {
  float: right;
  margin-right: 0;
  #margin-left: -3em;
  display: inline;
}