<div>
  @if (errorMessage()) {
    <div class="error-banner">{{ errorMessage() }}</div>
  }
</div>
<div class="properties-section">
  <ng-content></ng-content>
</div>
<div class="properties-footer">
  @if (hasChanges() && canEdit()) {
    <div class="action-buttons">
      <app-button [variant]="'light'" [size]="'sm'" [dataTestId]="'button-cancel'" (click)="cancelAction.emit()"
        >Cancel</app-button
      >
      <app-button
        [variant]="'primary'"
        [size]="'sm'"
        (click)="saveAction.emit()"
        [dataTestId]="'button-save'"
        [disabled]="isSaving()"
      >
        @if (isSaving()) {
          <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          <span role="status">Saving...</span>
        } @else {
          Save
        }
      </app-button>
    </div>
  }
</div>
