<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Tags'"
  [actionName]="'Tag current state'"
  [canAction]="permissions().canTagCurrentState"
  (tileAction)="tagCurrentState()"
  [noContent]="!tags() || tags().length < 1"
  [notAllowed]="false"
>
  <table class="table table-borderless">
    <tbody>
      @for (tag of tags(); track tag.id) {
        <tr>
          <td>{{ tag.label }}</td>
          <td class="text-end text-muted">{{ tag.tagDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
        </tr>
      }
    </tbody>
  </table>
</app-tile-component>
