<div class="container w-50">
  {{ loadingPermissions() }}
  <h1>Environments</h1>
  @if (canAdd){
  <app-button [variant]="'primary'" (click)="addDomain()">
    <app-icon icon="plus-circle"></app-icon> Add Domain</app-button
  >
  } @for(domain of environmentTree(); track domain.id){
  <div class="card my-3">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <strong>{{ domain.name }}</strong>
        </div>
        <div class="col">
          @if (canEdit){
          <app-button [variant]="'primary'" [size]="'sm'" (click)="editContext(domain)">
            <app-icon icon="pencil"></app-icon
          ></app-button>
          }
        </div>
        <div class="col">
          @if(canDelete){
          <app-button [variant]="'danger'" [size]="'sm'" (click)="deleteContext(domain)">
            <app-icon icon="trash"></app-icon>
          </app-button>
          }
        </div>
      </div>
    </div>
    <div class="card-body">
      @if(domain.children.length > 0) { @for (env of domain.children; track env.id) {
      <div class="row">
        <div class="col">{{ env.name }}</div>
        <div class="col">
          @if (canEdit){
          <app-button [variant]="'primary'" [size]="'sm'" (click)="editContext(env)">
            <app-icon icon="pencil"></app-icon>
          </app-button>
          }
        </div>
        <div class="col">
          @if(canDelete){
          <app-button [variant]="'danger'" [size]="'sm'" [additionalClasses]="'mb-2'" (click)="deleteContext(env)">
            <app-icon icon="trash"></app-icon>
          </app-button>
          }
        </div>
        <hr />
      </div>
      } } @else{
      <p>No environments added yet.</p>
      } @if (canAdd){
      <app-button [variant]="'primary'" [additionalClasses]="'mb-2'" (click)="addEnvironment(domain)">
        <app-icon icon="plus-circle"></app-icon> Add Environment</app-button
      >
      }
    </div>
  </div>
  }
</div>
