<app-modal-header [title]="getTitle()" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label">Property name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="propertyType.name" />
    </div>
    <div class="mb-3">
      <div class="form-check">
        <label for="encrypted" class="form-check-label">Encrypted</label>
        <input type="checkbox" class="form-check-input" id="encrypted" [(ngModel)]="propertyType.encrypted" />
      </div>
    </div>
    <div class="mb-3">
      <label for="regex" class="form-label">Validation</label>
      <input type="text" class="form-control" id="regex" [(ngModel)]="propertyType.validationRegex" />
      @if (!isValidRegex()) {
      <div class="text-warning">Invalid regular expression pattern.</div>
      }
    </div>
    <div class="mb-3">
      <label for="addtags" class="form-label">Add Tag</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          id="addtags"
          [(ngModel)]="newTag"
          (keyup.enter)="addTag()"
          placeholder="Type something and hit enter"
        />
        <div class="input-group-append ms-1">
          <app-button [variant]="'light'" [disabled]="newTag === ''" (click)="addTag()">
            <app-icon icon="plus"></app-icon
          ></app-button>
        </div>
      </div>
    </div>
    @if (propertyType.propertyTags !== null && propertyType.propertyTags.length > 0) {
    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <div class="list-group-horizontal row justify-content-start" id="tags">
        @for (item of propertyType.propertyTags; track item.name) {
        <div class="list-group-item col-2 mx-2">
          <span class="badge bg-light text-dark rounded-pill">
            {{ item.name }}
            <app-icon icon="x-circle" (click)="deleteTag(item)"></app-icon>
          </span>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  <span
    class="d-inline-block"
    tabindex="0"
    data-toggle="tooltip"
    [title]="!isValidForm() ? 'Please provide a name and validation' : 'Save'"
  >
    <app-button [variant]="'primary'" [disabled]="!isValidForm()" [dataCy]="'button-save'" (click)="save()"
      >Save changes</app-button
    >
  </span>
</div>
