<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
<div class="container">
  <div class="card">
    <div class="card-header">
      @if (permissions().canAdd) {
      <app-button
        [variant]="'primary'"
        [additionalClasses]="'float-end'"
        [dataCy]="'button-add'"
        (click)="addModal()"
        ><app-icon icon="plus-circle"></app-icon> Add property type</app-button
      >
      }
    </div>
    <div class="card-body">
      <app-table
        [entityName]="'property types'"
        [headers]="propertyTypesHeader()"
        [dataCyNameKey]="'name'"
        [data]="propertyTypesTableData()"
        [canDelete]="permissions().canDisplay && permissions().canDelete"
        [canEdit]="permissions().canDisplay && permissions().canEditName"
        (edit)="editModal($event.id)"
        (delete)="deleteModal($event.id)">
      </app-table>
    </div>
  </div>
</div>
