<app-modal-header [title]="getTitle()" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <div class="text-body">Do you really want to delete the property type {{ propertyType.name }} ?</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  <app-button [variant]="'primary'" [dataCy]="'button-delete'" (click)="delete()">Delete</app-button>
</div>
