/target
/build
/src/test/resources/integration-test/tmp

/src/test/resources/integration-test/testdb/amwFileDbIntegrationEmpty.trace.db
/src/test/resources/integration-test/testdb/amwFileDbIntegrationEmptyRunning*
/src/test/resources/integration-test/testdb/amwFileDbIntegrationOpenChangeSets*

