.metadata
target/
*/.settings/*
.settings/
**/*.iml
.idea
.classpath
.project
.vscode
AMW_business/src/test/resources/integration-test/testdb/amwFileDbIntegration.trace.db
AMW_parent.iml
todo.tasks
AMW_ruby/*.log*
release.properties
AMW_web/src/main/webapp/.sass-cache/
response*.POST.html
response*.GET.html
.DS_Store
.m2
AMW_openshift_deploy/deployments
AMW_angular/io/node/node
AMW_docker/tmp
