.toast {
  display: flex;
  z-index: 1050;
  width: auto;
  padding: 0;
  position: fixed;
  right: 2rem;
  bottom: 2.5rem;
  border-radius: 8px;
}

.toast-image {
  background-image: url('/assets/images/toast_alert.png');
  width: 50px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.image-success {
  background-color: midnightblue;
}

.image-error {
  background-color: darkred;
}

.toast-body {
 padding-top: 0;
}

.body-success {
  color: steelblue;
}

.body-error {
  color: darkred;
}

.toast-list {
  list-style-type: disc;
  padding-left: 1rem;
  margin-bottom: 0;
}

.toast-header {
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0;
  border-bottom: 0;
}

.header-success {
  color: steelblue;
}

.header-error {
  color: darkred;
}

.close:hover {
  cursor: pointer;
}
