<div class="row page-header">
  <div class="col-md-4">
    <h1>{{appState.get('pageTitle')}}</h1>
  </div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">{{appState.get('pageTitle')}}</h3>
    </div>

    <div class="panel-body">
      <span class="form-horizontal">

        <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade in" role="alert"><span [innerHTML]="successMessage"></span><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        <div *ngIf="errorMessage" class="alert alert-warning alert-dismissible fade in" role="alert">{{errorMessage}}<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>

        <div class="form-group" *ngIf="roleNames.length > 0">
          <label for="selectRole" class="col-sm-2 control-label">Role</label>
          <div class="col-sm-10 col-md-5">
            <select id="selectRole" class="form-control input-sm" [(ngModel)]="selectedRoleName" (ngModelChange)="onChangeRole($event)">
              <option [ngValue]="roleName" *ngFor="let roleName of roleNames">{{roleName}}</option>
            </select>
          </div>
        </div>

        <div class="form-group" *ngIf="restrictions.length > 0">
          <label class="col-sm-2 control-label">Permissions</label>
          <div class="col-sm-10 col-md-5">
              <ng-container *ngFor="let restriction of restrictions">
                <amw-restriction [restriction]="restriction" (deleteRestriction)='removeRestriction($event)'></amw-restriction>
              </ng-container>
          </div>
        </div>

      </span>

    </div>
  </div>
</div>

