<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Resources</div>
  <div class="page-content">
    <div class="row">
      <div class="col ps-3">
        <h5 class="mb-3">Resource types</h5>
        @if (permissions().canViewResourceTypes) {
        <ul class="nav flex-column">
          @for (resourceType of predefinedResourceTypes(); track resourceType.name) {
          <li class="nav-item">
            <a
              class="nav-link ps-0"
              style="display: inline-block"
              (click)="toggleChildrenAndOrLoadResourcesList(resourceType)"
              >{{ resourceType.name }}
            </a>
          </li>
          }
        </ul>
        <hr />
        @if (permissions().canCreateResourceTypes) {
        <div>
          <app-button [variant]="'primary'" (click)="addResourceType()">
            <app-icon icon="plus-circle"></app-icon> New Resource Type
          </app-button>
        </div>
        } }
        <ul class="nav flex-column">
          @for (resourceType of rootResourceTypes(); track resourceType.name) {
          <li class="nav-item">
            <a
              class="nav-link ps-0"
              style="display: inline-block"
              (click)="toggleChildrenAndOrLoadResourcesList(resourceType)"
            >
              {{ resourceType.name }}
              @if (resourceType.hasChildren) { @if (expandedResourceTypeId === resourceType.id) {
              <app-icon icon="dash"></app-icon>
              } @else {
              <app-icon icon="plus"></app-icon>
              } }
            </a>
            @if (resourceType.hasChildren && expandedResourceTypeId === resourceType.id) {
            <ul class="nav flex-column ps-4">
              @for (child of resourceType.children; track child.name) {
              <li class="nav-item">
                <a
                  class="nav-link ps-0"
                  style="display: inline-block"
                  (click)="toggleChildrenAndOrLoadResourcesList(child)"
                >
                  {{ child.name }}
                </a>
              </li>
              }
            </ul>
            }
          </li>
          }
        </ul>
      </div>
      <div class="col-10">
        <app-resources-list
          [resourceType]="selectedResourceTypeOrDefault()"
          [resourceGroupList]="resourceGroupListForType()"
          [releases]="releases()"
          (resourceToAdd)="addResource($event)"
          (resourceTypeToDelete)="deleteResourceType($event)"
        ></app-resources-list>
      </div>
    </div>
  </div>
</app-page>
