<app-modal-header [title]="'Create new Resource Type'" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label">Resource Type name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="resourceType.name" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Parent Resource Type (optional)</label>
      <div ngbDropdown>
        <app-button [variant]="'secondary'" ngbDropdownToggle>
          {{ parentResourceTypeName || 'Select Resource Type' }}
        </app-button>
        <ul ngbDropdownMenu>
          @for (resourceType of rootResourceTypes(); track resourceType.name) {
          <li ngbDropdownItem>
            <a class="dropdown-item" (click)="selectResourceType(resourceType.name, resourceType.id)">{{
              resourceType.name
            }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  <app-button [variant]="'primary'" [disabled]="resourceType.name.length === 0" (click)="save()">Create</app-button>
</div>
