<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Resources</div>
  <div class="page-content">
    @if (permissions().canViewResourceTypes) {
    <nav class="nav flex-column">
      @for (resourceType of predefinedResourceTypes(); track resourceType.name){<a href="#">{{ resourceType.name }}</a
      >}
    </nav>
    <nav class="nav flex-column">
      @for (resourceType of rootResourceTypes(); track resourceType.name){
      <a href="#">
        {{ resourceType.name }}
        @if (resourceType.hasChildren) {<span class="plus-sign">+</span>}
      </a>
      }
    </nav>
    }
  </div></app-page
>
