<app-modal-header [title]="'Create new Resource Type'" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="needs-validation mb-3">
      <label for="name" class="form-label">Resource Type name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        [(ngModel)]="resourceType.name"
        [class.is-invalid]="!isValid() && resourceType.name.length > 0"
        [class.is-valid]="isValid() && resourceType.name.length > 0"
        required
        pattern="^[a-zA-Z0-9_\-]+$"
      />
      @if (!isValid() && resourceType.name.length > 0) {
      <div class="invalid-feedback">
        The name must not contain any other than alphanumerical and "_" / "-" characters.
      </div>
      }
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Parent Resource Type (optional)</label>
      <div ngbDropdown>
        <app-button [variant]="'secondary'" ngbDropdownToggle [additionalClasses]="'dropdown-toggle'">
          {{ parentResourceTypeName || 'Select Resource Type' }}
        </app-button>
        <ul ngbDropdownMenu>
          <li ngbDropdownItem>
            <a class="dropdown-item" (click)="parentResourceTypeName = ''">Select Resource Type</a>
          </li>
          @for (resourceType of rootResourceTypes(); track resourceType.name) {
          <li ngbDropdownItem>
            <a class="dropdown-item" (click)="selectResourceType(resourceType.name, resourceType.id)">{{
              resourceType.name
            }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  <app-button [variant]="'primary'" [disabled]="resourceType.name.length === 0 || !isValid()" (click)="save()"
    >Create</app-button
  >
</div>
