<div class="col">
  <div *ngIf="deployment$ | async as deployment; else loading" class="h-100">
    <div *ngIf="deployment === 'failed'">
      <app-notification
        [message]="'Unable to load log files for deployment'"
        [messageType]="'warning'"
      ></app-notification>
    </div>

    <div *ngIf="deployment !== 'failed'" class="card mt-3 h-100">
      <div
        *ngIf="deploymentLogs$ | async as deploymentLogs; else loading"
        class="card-header"
      >
        <h4>
          Log file for {{ deployment.id }} ({{ deployment.appServerName }}
          {{ deployment.releaseName }})
        </h4>
        <div *ngIf="deploymentLogs?.length === 0">
          <app-notification
            [message]="'no log files found for deployment'"
            [messageType]="'warning'"
          ></app-notification>
        </div>
        <div *ngIf="deploymentLogs.length > 0">
          <div ngbDropdown class="d-inline-block">
            <button
              class="btn btn-outline-primary"
              id="filename-picker"
              ngbDropdownToggle
            >
              {{ (currentDeploymentLog$ | async)?.filename }}
            </button>
            <div ngbDropdownMenu aria-labelledby="filename-picker">
              <button
                ngbDropdownItem
                *ngFor="let deploymentLog of deploymentLogs"
                (click)="selectFile(deploymentLog)"
              >
                {{ deploymentLog.filename }}
              </button>
            </div>
          </div>
        </div>
      </div>
        <div class="mt-3 h-100">
          <div class="h-100">
            <ngx-codemirror
              class="h-100"
              *ngIf="currentDeploymentLog$ | async as currentDeploymentLog"
              [(ngModel)]="currentDeploymentLog.content"
              [options]="{
                lineNumbers: false,
                theme: 'default',
                mode: 'simplemode',
                readOnly: true
              }"
            ></ngx-codemirror>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-indicator [isLoading]="true"></app-loading-indicator>
</ng-template>
