.CodeMirror {
  &.cm-s-default {
    height: 100%;
  }
}

.cm-warning {
  color: var(--bs-warning); // uses the runtime CSS custom property from Bootstrap
}

.CodeMirror-vscrollbar {
  overflow-y: hidden;
}
