<app-page>
  <div class="page-title">Deployment Logs</div>
  <div class="page-content">
    @if (deployment$ | async; as deployment) {
    <div class="h-100">
      @if (deployment === 'failed') {
      <div>
        <app-notification
          [message]="'Unable to load log files for deployment'"
          [messageType]="'warning'"
        ></app-notification>
      </div>
      } @if (deployment !== 'failed') {
      <div class="card mt-3 h-100">
        @if (deploymentLogMetaData$ | async; as deploymentLogMetaData) {
        <div class="card-header">
          @if (deploymentLogMetaData?.length === 0) {
          <div>
            <app-notification
              [message]="'no log files found for deployment'"
              [messageType]="'warning'"
            ></app-notification>
          </div>
          } @if (deploymentLogMetaData.length > 0) {
          <div>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="filename-picker" ngbDropdownToggle>
                {{ (currentDeploymentLog$ | async)?.filename }}
              </button>
              <div ngbDropdownMenu aria-labelledby="filename-picker">
                @for (deploymentLog of deploymentLogMetaData; track deploymentLog) {
                <button ngbDropdownItem (click)="selectFile(deploymentLog)">
                  {{ deploymentLog.filename }}
                </button>
                }
              </div>
            </div>
          </div>
          }
        </div>
        } @else { #loading| } @if (currentDeploymentLogContent$ | async; as currentDeploymentLogContent) {
        <div class="mt-3 h-100">
          <div class="h-100">
            <ngx-codemirror
              class="h-100"
              [(ngModel)]="currentDeploymentLogContent.content"
              [options]="{
                lineNumbers: false,
                theme: 'default',
                mode: 'simplemode',
                readOnly: true
              }"
            ></ngx-codemirror>
          </div>
        </div>
        }
      </div>
      }
    </div>
    } @else { #loading| }
  </div>
</app-page>

<ng-template #loading>
  <app-loading-indicator [isLoading]="true"></app-loading-indicator>
</ng-template>
