@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.CodeMirror {
  &.cm-s-default {
    height: 100%;
  }
}

.cm-warning {
  color: $warning;
}

.CodeMirror-vscrollbar {
  overflow-y: hidden;
}
