<!-- <app-loading-indicator [isLoading]="isLoading"></app-loading-indicator> -->

<div class="col main-full">
  <div *ngIf="deployment$ | async as deployment" class="card mt-3">
    <div class="card-header">
      <h4>
        Log file for {{ deployment.id }} ({{ deployment.appServerName }}
        {{ deployment.releaseName }})
      </h4>

      <div class="text-right">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="filename-picker"
            ngbDropdownToggle
          >
            {{ currentFilename | async }}
          </button>
          <div ngbDropdownMenu aria-labelledby="filename-picker">
            <button
              ngbDropdownItem
              *ngFor="let filename of deploymentLogStore.filenames$ | async"
              (click)="selectFile(filename)"
            >
              {{ filename }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div *ngIf="deploymentLog$ | async as deploymentLog">
        <ngx-codemirror
          [(ngModel)]="deploymentLog.content"
          [options]="{
            lineNumbers: true,
            theme: 'default',
            mode: 'markdown'
          }"
        ></ngx-codemirror>
      </div>
    </div>
  </div>
</div>
