<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Edit {{ this.resource()?.name }}</div>

  <div class="page-content">
    @if ((this.resource()?.name && !permissions().canEditResource)) {
    <div class="container">
      <span class="text-warning-2">Not Authorized! You are not allowed to edit resources.</span>
    </div>
    } @else if (id() === 0) {
    <div class="container">
      <span>Please provide the resource id to edit a resource.</span>
    </div>
    } @else {
    <app-resource-templates-list [resource]="resource()" [contextId]="contextId()"></app-resource-templates-list>
    <app-resource-functions-list [resource]="resource()" [contextId]="contextId()"></app-resource-functions-list>
    <!-- Placeholder for related-resources-list -->
    <app-related-resources-list [resource]="resource()" [contextId]="contextId()"></app-related-resources-list>
    }
  </div>
</app-page>
