<div class="container">
  <h1>Tags</h1>
  <div class="row mt-2 py-4">
    <div class="col-6 ms-auto">
      <div class="input-group">
        <input
          id="tagName"
          type="text"
          class="form-control"
          [(ngModel)]="tagName"
          (keyup.enter)="addTag()"
        />
        <button class="btn btn-primary" (click)="addTag()" [attr.data-cy]="'button-add'"><app-icon icon="plus-circle"></app-icon> Add tag</button>
      </div>
    </div>
  </div>

  <table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (tag of tags; track tag) {
      <tr>
        <td>{{ tag.name }}</td>
        <td>
          <button class="btn btn-sm btn-danger me-0" (click)="deleteTag(tag.id)" [attr.data-cy]="'delete-' + tag.name">
            <i class="bi bi-trash"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-toast></app-toast>
</div>
