<div class="container">
  <div class="card row mt-2 mb-3">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm"></div>
        @if (canCreate()) {
          <div class="col-sm-3">
            <input
              id="tagName"
              type="text float-end"
              class="form-control"
              [(ngModel)]="tagName"
              (keyup.enter)="addTag()"
            />
          </div>
          <div class="col-md-auto">
            <app-button
              [variant]="'primary'"
              [dataTestId]="'button-add'"
              (click)="addTag()"
              [additionalClasses]="'float-end'"
              ><app-icon icon="plus-circle"></app-icon> Add tag</app-button
            >
          </div>
        }
      </div>
    </div>
    <div class="card-body">
      <app-table
        [entityName]="'tags'"
        [headers]="tagsHeader()"
        [data]="tags()"
        [canDelete]="canDelete()"
        (delete)="deleteTag($event.id)"
      >
      </app-table>
    </div>
  </div>
</div>
