<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
<app-page>
  <div class="page-title">Apps</div>
  <div class="page-content">
    {{ loadingPermissions() }}
    <div>
      <div class="container">
        <div class="card row mt-2 mb-3">
          <div class="card-header">
            <div class="row justify-content-between align-items-center">
              <div class="col-sm">
                <b>Application servers and applications</b>
              </div>
              <div class="col-sm">
                @if (canCreateApp) {
                <app-button
                  [variant]="'primary'"
                  [additionalClasses]="'float-end'"
                  [dataCy]="'button-add-app'"
                  (click)="addApp()"
                  ><app-icon icon="plus-circle"></app-icon> Add Application</app-button
                >
                } @if (canCreateAppServer) {
                <app-button [variant]="'primary'" [additionalClasses]="'float-end'" (click)="addServer()">
                  <app-icon icon="plus-circle"></app-icon>
                  Add Application Server</app-button
                >
                }
              </div>
            </div>
          </div>
          @if (canViewAppList) {
          <div class="card-body">
            <app-apps-filter [releases]="releases()" (filterEvent)="updateFilter($event)"></app-apps-filter>
            <app-apps-servers-list [appServers]="appServers()"></app-apps-servers-list>
          </div>
          <div class="card-footer py-1">
            <div class="row bg-light align-items-center">
              <app-pagination
                [currentPage]="currentPage"
                [lastPage]="lastPage"
                (doSetMax)="setMaxResultsPerPage($event)"
                (doSetOffset)="setNewOffset($event)"
              >
              </app-pagination>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</app-page>
