<div class="container pb-2">
  <div class="row justify-content-between align-items-end">
    <div class="col-sm-4">
      <label for="appName" class="form-label">Application/AS name</label>
      <input class="form-control" id="appName" type="text" [(ngModel)]="appName" />
    </div>
    <div class="col-sm-2">
      <label class="form-label">Release</label>
      <ng-select
        id="selectRelease"
        [clearable]="false"
        [ngModel]="selection().selected()"
        (change)="selection().selected.set($event)"
      >
        @for (release of selection().releases; track release.id) {
        <ng-option [value]="release.id">{{ release.name }}</ng-option>
        }
      </ng-select>
    </div>
    <div class="col-sm">
      <app-button [variant]="'primary'" [additionalClasses]="'float-start'" (click)="search()">Search</app-button>
    </div>
  </div>
</div>
