<!--<div>-->
<!--  <div class="form-group row">-->
<!--    <label for="appName" class="col-sm-1">Add filter</label>-->
<!--    <div class="col-sm-7">-->
<!--      <input class="form-control" id="appName" attr.list="appsList" type="text" [(ngModel)]="value" />-->
<!--      <datalist attr.id="appsList">-->
<!--        @for (app of apps; track app) {-->
<!--        <option>{{ app }}</option>-->
<!--        }-->
<!--      </datalist>-->

<!--    </div>-->
<!--  </div>-->
<!--  <label class="col-sm-1" for="selectRelease">Release</label>-->
<!--  <div class="col-sm-2">-->
<!--    <div class="input-group">-->
<!--      <select-->
<!--        class="form-select"-->
<!--        id="selectRelease"-->
<!--        aria-describedby="release"-->
<!--        required-->
<!--        [(ngModel)]="release"-->
<!--      >-->
<!--        @for (release of releases; track release) {-->
<!--        <option>{{ release }}</option>-->
<!--        }-->
<!--      </select>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="col-sm-1 offset-1">-->
<!--  <button type="submit" class="btn btn-primary btn-main" (click)="search()">Search</button>-->
<!--  </div>-->
<!--</div>-->

