<div class="container border-bottom border-light-subtle pb-4">
  <div class="row mb-3">
    <div class="col-sm">
      <b>Add Filter</b>
    </div>
  </div>
  <div class="row justify-content-between align-items-end">
    <div class="col-sm-4">
      <label for="appName" class="form-label">Application/AS name</label>
      <input class="form-control" id="appName" type="text" [(ngModel)]="appName" />
    </div>
    <div class="col-sm-2">
      <label class="form-label">Release</label>
      <ng-select id="selectRelease" [clearable]="false" [ngModel]="upcoming()" (change)="selected.set($event)">
        @for (release of releases; track release.id) {
        <ng-option [value]="release.id">{{ release.name }}</ng-option>
        }
      </ng-select>
    </div>
    <div class="col-sm">
      <app-button [variant]="'primary'" [additionalClasses]="'float-start'" (click)="search()">Search</app-button>
    </div>
  </div>
</div>
