@if (apps() && apps().length > 0) {
  <table class="table table-sm mb-0">
    <tbody>
      @for (app of apps(); track app) {
        <tr [class.table-light]="!even()">
          <td>
            <a href="/AMW_web/pages/editResourceView.xhtml?ctx=1&id={{ app.id }}">{{ app.name }}</a>
          </td>
          <td class="text-end pe-0">
            <a href="/AMW_web/pages/editResourceView.xhtml?ctx=1&id={{ app.id }}">{{ app.release.name }}</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
