<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="col-sm-10 main-full">
  <div class="panel panel-default">
    <app-panel-heading [name]="name"></app-panel-heading>

    <div class="panel-body">
      <app-notification
        *ngIf="successMessage"
        [message]="successMessage"
        [messageType]="'success'"
      ></app-notification>
      <app-notification
        *ngIf="errorMessage"
        [message]="errorMessage"
        [messageType]="'warning'"
      ></app-notification>
      <app-auditview-table
        [auditlogEntries]="auditLogEntries"
      ></app-auditview-table>
    </div>
  </div>
</div>
