<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Functions'"
  [actionName]="'New Function'"
  [canAction]="permissions().canAdd"
  (tileAction)="add()"
  [noContent]="!functionsData()"
  [notAllowed]="!!functionsData() && functionsData().length <= 0"
>
  @for (list of functionsData(); track list) {
    <app-tile-list
      [title]="list.title"
      [data]="list.entries"
      [canEdit]="list.canEdit"
      [canDelete]="list.canDelete"
      [canOverwrite]="list.canOverwrite"
      (edit)="doListAction($event)"
      (delete)="doListAction($event)"
      (overwrite)="doListAction($event)"
    ></app-tile-list>
  }
</app-tile-component>
