<div class="container">
  @if (resourceType() && permissions().canReadResources) {
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h2>
        {{ resourceType().name }}
        <a href="/AMW_web/pages/editResourceView.xhtml?ctx=1&resTypId={{ resourceType().id }}">
          <app-button [variant]="'link'"justify-content-start>
            <app-icon icon="pencil"></app-icon>
          </app-button>
        </a>
        @if (permissions().canDeleteResourceType && !resourceType().isDefaultResourceType) {
        <app-button [variant]="'link'" [additionalClasses]="'link-danger'" (click)="deleteResourceType()">
          <app-icon icon="trash"></app-icon>
        </app-button>
        }
        </h2>
        @if (permissions().canCreateResource && !resourceType().isApplication) {
        <app-button [variant]="'primary'" (click)="addResource()" [additionalClasses]="'float-end'">
          <app-icon icon="plus-circle"></app-icon>
          New Resource
        </app-button>
        }
      </div>
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th scope="col" class="w-100">Resource name</th>
            <th scope="col">Release</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (resource of resourceGroupList(); track resource.id) {
          <tr>
            <td>{{ resource.name }}</td>
            <td>{{ resource.defaultRelease ? resource.defaultRelease.release : '' }}</td>
            <td class="align-items-center">
              <a
                href="/AMW_web/pages/editResourceView.xhtml?ctx=1&id={{
                  resource.defaultResourceId ? resource.defaultResourceId : resource.id
                }}"
              >
                <app-button [variant]="'link'" [size]="'sm'"> <app-icon icon="pencil"></app-icon></app-button>
              </a>
            </td>
          </tr>
          } @empty {
          <tr>
            <td colspan="4" class="text-center">No resources defined</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>
