<div class="container">
  @if (resourceType() && permissions().canReadResources) {
    <h1>{{ resourceType().name }}</h1>
    @if (permissions().canCreateResource && !resourceType().resourceTypeIsApplication) {
      <div class="row my-3">
        <app-button [variant]="'primary'" (click)="addResource()">
          <app-icon icon="plus-circle"></app-icon>
          New Resource
        </app-button
        >
      </div>
    }
    <table class="table table-sm table-striped">
      <thead>
      <tr>
        <th>Resource name</th>
        <th>Release</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
        @for (resource of resourceGroupList(); track resource.id) {
          <tr>
            <td>{{ resource.name }}</td>
            <td>{{ resource.defaultRelease ? resource.defaultRelease.release : '' }}</td>
            <td>
              <a href="/AMW_web/pages/editResourceView.xhtml?ctx=1&id={{ resource.id }}">
                <app-button [variant]="'primary'" [size]="'sm'">
                  <app-icon icon="pencil"></app-icon
                  ></app-button>
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
