<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="container">
  <h1>Application Information</h1>
  <div class="card row mt-2 mb-3">
    <div class="card-header"><b>Application Information</b></div>
    <div class="card-body">
      <div class="table-responsive">
        @if (appVersions.length > 0) {
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>

          <tbody>
            @for (item of appVersions; track item) {
            <tr>
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
            }
          </tbody>
        </table>
        }
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="card row">
    <div class="card-header"><b>Application Configuration</b></div>
    <div class="card-body">
      <div class="table-responsive">
        @if (appConfigs.length > 0) {
        <table class="table table-sm table-striped">
          <thead>
            <tr>
              <th>Key</th>
              <th>ENV</th>
              <th>Value</th>
              <th>DefaultValue</th>
            </tr>
          </thead>

          <tbody>
            @for (item of appConfigs; track item) {
            <tr>
              <td>{{ item.key.value }}</td>
              <td>{{ item.key.env }}</td>
              <td>{{ item.value }}</td>
              <td>{{ item.defaultValue }}</td>
            </tr>
            }
          </tbody>
        </table>
        }
      </div>
    </div>
  </div>
</div>
