<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>

<div class="container">
  <div class="card row mt-2 mb-3">
    <div class="card-header"><b>Application Information</b></div>
    <div class="card-body">
      @if (appVersions().length > 0) {
      <app-table [entityName]="'application information'" [headers]="appVersionsHeader()" [data]="appVersions()">
      </app-table>
      }
    </div>
  </div>
</div>
<div class="container">
  <div class="card row">
    <div class="card-header"><b>Application Configuration</b></div>
    <div class="card-body">
      @if (appConfigs().length > 0) {
      <app-table
        [entityName]="'application configuration'"
        [headers]="appConfigsHeader()"
        [data]="appConfigsTableData()"
      >
      </app-table>
      }
    </div>
  </div>
</div>
