$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@use 'deployments/deployments.scss';

/* Move down content because we have a fixed navbar that is 50px tall */
/*
body {
  padding-top: 50px;
}
*/

.page-header {
  margin: 0;
  padding-bottom: 0;
  background-color: #cfcfcf;
  /*  position: fixed;
  top: 50px;
  left: 0px;*/
  width: 100%;

  h1 {
    width: 100%;
    margin-top: 8px;
    font-size: 30px;
  }
}

.dropdown-menu .checkbox {
  padding-left: 20px;
}

.environments-title {
  margin-bottom: 0;
}

/*
 * Main content
 */

.main,
.main-full {
  margin-top: 50px;
  padding: 20px;
}

.main-full {
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.ng-invalid.ng-dirty {
  border-color: rgba(255, 0, 0, 0.5);
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 6px rgba(255, 0, 0, 0.8);
}

/*
 * Styles for components library
 */

.components-library {
  h4 {
    margin-top: 3rem;
  }
}

/*
 * Table with small/er font
 */
.table-xs {
  font-size: x-small;
}

@media (min-width: 768px) {
  .table-xs {
    font-size: smaller;
  }
}

/*
 * Responsive table
 */
.table-responsive {
  .table {
    margin-top: -1px;
  }
}

/* Firefox fix, see https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685 */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

/*
 * General
 */
ul.nob {
  list-style: none;
  padding-left: 16px;
}

/*
 * Nicer alignement of text following a checkbox
 */
th.has-checkbox,
td.has-checkbox {
  input[type='checkbox'] {
    margin-top: -2px;
    vertical-align: middle;
  }
}

/*
 * Pretend to be a link
 */
li.link,
span.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}

li.link:hover,
span.link:hover {
  color: #23527c;
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}
