<app-navigation [logoutUrl]="logoutUrl"></app-navigation>
<div class="container-fluid">
  <div class="row bg-light">
    <div class="col">
      <h4 class="pt-2 text-dark">
        {{ (navigationStore.navigation$ | async).pageTitle }}
      </h4>
    </div>
  </div>
  <main>
    <div class="row">
      <app-navigation-sidebar
        [navigation]="navigationStore.navigation$ | async"
        (itemSelected)="navigateTo($event)"
      ></app-navigation-sidebar>
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>
