$icon-font-path: 'assets/fonts/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/alerts';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/button-groups';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/buttons';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/close';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/component-animations';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/dropdowns';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/input-groups';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/labels';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/modals';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/navs';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/navbar';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/pager';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/pagination';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/panels';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/tooltip';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/utilities';

@import '~bootstrap-tagsinput/dist/bootstrap-tagsinput';
@import '~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker';
@import 'deployment/deployments.scss';

/* add styles here */

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */
.page-header {
  margin: 0;
  padding-bottom: 0;
  background-color: #cfcfcf;
  position: fixed;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: 99;
  h1 {
    width: 100%;
    margin-top: 8px;
    font-size: 30px;
  }
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.dropdown-menu .checkbox {
  padding-left: 20px;
}

.environments-title {
  margin-bottom: 0;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  .navbar-nav li > a {
    color: #ccc;
  }
  .navbar-form .checkbox {
    color: #ccc;
    margin-top: 6px;
  }
}

/*
 * Liima logo
 */
.navbar-header {
  .navbar-brand {
    color: #ffffff;
    margin-left: 0;
    padding-top: 8px;
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    margin-left: -15px;
    padding-top: 10px;
    padding-right: 0;
  }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  .collapse {
    // li a {
    //       padding-left: 20px;
    // }
  }
  .active a,
  .active a:hover,
  .active a:focus {
    color: #fff;
    background-color: #428bca;
  }
}

.nav-resources {
  li {
    list-style: none;
    li {
      a  {
        padding: 5px 20px 5px 60px;
      }
      li {
        a {
          padding-left: 100px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        padding-left: 5px;
      }
    }
  }
}


/*
 * Main content
 */

.main,
.main-full {
  margin-top: 50px;
  padding: 20px;
}

.main-full {
  width: 100%;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.bootstrap-tagsinput .tag {
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  color: #333333;
}

.datepicker {
  padding: 0;
}

.ng-invalid.ng-dirty {
  border-color: rgba(255, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(255, 0, 0, 0.8);
}

/*
 * Styles for components library
 */

.components-library {

  h4 {
    margin-top: 3rem;
  }

}

/*
 * Table with small/er font
 */
.table-xs {
  font-size: x-small;
}

@media (min-width: 768px) {
  .table-xs {
    font-size: smaller;
  }
}

/*
 * Responsive table
 */
.table-responsive {
  .table {
    margin-top: -1px;
  }
}
/* Firefox fix, see https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content/17863685#17863685 */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

/*
 * Loader
 */
.loading {
  z-index: 1000;
  position: fixed;
  background-color: #000000;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loading .loading-bg {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("assets/images/ajax-loader.gif");
  height: 32px;
  width: 32px;
  text-align: center;
}

/*
 * General
 */
ul.nob {
  list-style: none;
  padding-left: 16px;
}

/*
 * Nicer alignement of text following a checkbox
 */
th.has-checkbox,
td.has-checkbox {
  input[type="checkbox"] {
    margin-top: -2px;
    vertical-align: middle;
  }
}

/*
 * Pretend to be a link
 */
li.link,
span.link {
  color: #337ab7;
  text-decoration: none;
  cursor: pointer;
}
li.link:hover,
span.link:hover {
  color: #23527c;
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}
