<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Releases'"
  [actionName]="'New Release'"
  [canAction]="permissions().canAddRelease"
  [isVisible]="true"
  (tileAction)="addRelease()"
  [noContent]="false"
  [notAllowed]="false"
>
  @if (!releases() || releases().length < 1) {
    <div class="no-content">
      <span>No Release for this resource</span>
    </div>
  } @else {
    <table class="table table-borderless">
      <tbody>
        @for (release of releases(); track release) {
          <tr
            style="cursor: pointer"
            [routerLink]="['/resource/edit']"
            [queryParams]="{ ctx: contextId(), id: release.id, selectedResourceTypeId: resource().resourceTypeId }"
          >
            <td [class.fw-bold]="release.id === id()">
              {{ release.name }}
            </td>
            <td class="text-end">
              <app-button
                title="Delete"
                [size]="'sm'"
                [variant]="'link'"
                [additionalClasses]="'p-0 link-danger'"
                (click)="
                  showDeleteConfirmation(deleteReleaseConfirmation, release);
                  $event.stopPropagation();
                  $event.preventDefault()
                "
              >
                <app-icon icon="trash"></app-icon>
              </app-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</app-tile-component>

<ng-template #deleteReleaseConfirmation let-modal>
  < app-modal-header
    [title]="'Delete release ' + selectedRelease()?.name"
    (cancel)="modal.dismiss('Cross click')"
  ></app-modal-header>
  <div class="modal-body">
    <p class="text-warning-2">Are you sure that you want to delete this release?</p>
  </div>
  <div class="modal-footer">
    <app-button [variant]="'secondary'" (click)="modal.dismiss('Cancel click')">Cancel</app-button>
    <app-button [variant]="'danger'" (click)="modal.close('Confirm click')" ngbAutofocus>Delete</app-button>
  </div>
</ng-template>
