<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Releases'"
  [actionName]="'New Release'"
  [canAction]="permissions().canAddRelease"
  [isVisible]="true"
  (tileAction)="addRelease()"
  [noContent]="false"
  [notAllowed]="false"
>
  @if (!releases() || releases().length < 1) {
    <div class="no-content">
      <span>No Release for this resource</span>
    </div>
  } @else {
    <table class="table table-borderless">
      <tbody>
        @for (release of releases(); track release) {
          <tr
            style="cursor: pointer"
            [routerLink]="['/resource/edit']"
            [queryParams]="{ ctx: contextId(), id: release.id, selectedResourceTypeId: resourceTypeId() }"
          >
            <td [class.fw-bold]="release.id === id()">
              {{ release.name }}
            </td>
            <td class="text-end">
              <app-button
                title="Delete"
                [size]="'sm'"
                [variant]="'link'"
                [additionalClasses]="'p-0 link-danger'"
                (click)="deleteRelease(release.id); $event.stopPropagation(); $event.preventDefault()"
              >
                <app-icon icon="trash"></app-icon>
              </app-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</app-tile-component>
