<div class="tile">
  <div class="tile-header">
    <div class="tile-title">{{ title() }}</div>
    <div class="tile-action-bar">
      <app-button [variant]="'primary'" [size]="'sm'" (click)="tileAction.emit()">
        <app-icon icon="plus-circle" /><span>{{ action() }}</span></app-button
      >
    </div>
  </div>

  <div class="tile-body">
    @if (!data()) {
    <div class="no-content">
      <span>No {{ title() }} for this resource</span>
    </div>
    }
    <ng-container #container></ng-container>
  </div>
</div>
