<div class="panel panel-default">
  <div class="panel-heading">Deployments</div>
  <div class="table-responsive">
    <table class="table table-xs" *ngIf="(deployments.length > 0)">
      <tr>
        <th>Tracking id</th>
        <th>State</th>
        <th>App Server</th>
        <th>Release</th>
        <th>Env</th>
        <th>Deployment date</th>
        <th>Actions</th>
        <th></th>
      </tr>
      <tr *ngFor="let deployment of deployments">
        <td>{{deployment.trackingId}}</td>
        <td>{{deployment.state}}</td>
        <td><a href="/AMW_web/pages/editResourceView.xhtml?id={{deployment.appServerId}}&ctx=1">{{deployment.appServerName}}</a>
            <ul class="nob">
              <li *ngFor="let appWithVersion of deployment.appsWithVersion"><a href="/AMW_web/pages/editResourceView.xhtml?id={{appWithVersion.applicationId}}&ctx=1">{{appWithVersion.applicationName}}</a> ({{appWithVersion.version}})</li>
            </ul>
        </td>
        <td>{{deployment.releaseName}}</td>
        <td>{{deployment.environmentName}}</td>
        <td>{{deployment.deploymentDate | date:'dd.MM.y HH:mm'}}</td>
        <td>
          <ng-container *ngIf="deployment.actions.confirmPossible">
            <a href="">confirm</a><br>
          </ng-container>
          <ng-container *ngIf="deployment.actions.rejectPossible">
            <a href="">reject</a><br>
          </ng-container>
          <ng-container *ngIf="deployment.actions.cancelPossible">
            <a href="">cancel</a><br>
          </ng-container>
          <ng-container *ngIf="deployment.actions.redeployPossible">
            <a href="#/deployment/{{deployment.id}}">redeploy</a><br>
          </ng-container>
          <ng-container *ngIf="deployment.actions.editPossible">
            <a href="">edit</a><br>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>

