<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="col-sm-10 main-full">
  <div>
    <app-notification
      *ngIf="successMessage"
      [message]="successMessage"
      [messageType]="'success'"
    ></app-notification>
    <app-notification
      *ngIf="errorMessage"
      [message]="errorMessage"
      [messageType]="'warning'"
    ></app-notification>
    <span class="form-horizontal">
      <div class="form-group row" *ngIf="appservers.length > 0">
        <label
          for="selectApplicationserver"
          class="col-sm-2 font-weight-bold text-right"
          >Applicationserver</label
        >
        <div class="col-sm-10 col-md-5">
          <select
            id="selectApplicationserver"
            class="form-control input-sm"
            [(ngModel)]="selectedAppserver"
            (ngModelChange)="onChangeAppserver()"
          >
            <option [ngValue]="server" *ngFor="let server of appservers">{{
              server.name
            }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" *ngIf="isRedeployment">
        <label
          for="selectApplicationserver"
          class="col-sm-2 font-weight-bold text-right"
          >Applicationserver</label
        >
        <div class="col-sm-10 col-md-5">
          <span
            class="environments-title"
            [innerHTML]="redeploymentAppserverDisplayName"
          ></span>
        </div>
      </div>

      <div class="form-group row" *ngIf="!isRedeployment">
        <label for="selectRelease" class="col-sm-2 font-weight-bold text-right"
          >Release</label
        >
        <div class="col-sm-10 col-md-5">
          <select
            *ngIf="selectedAppserver"
            id="selectRelease"
            class="form-control input-sm"
            [(ngModel)]="selectedRelease"
            (ngModelChange)="onChangeRelease()"
          >
            <option [ngValue]="release" *ngFor="let release of releases">{{
              release.release
            }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 font-weight-bold text-right">Environments</label>
        <div class="col-sm-10">
          <ng-container *ngFor="let group of getEnvironmentGroups()">
            <p class="mb-1">{{ group }}:</p>
            <div
              class="d-inline mr-3"
              *ngFor="let env of groupedEnvironments[group]"
            >
              <label
                ><input
                  class="mr-2"
                  type="checkbox"
                  (change)="onChangeEnvironment()"
                  [(ngModel)]="env.selected"
                />{{ env.name }}
                <ng-container *ngIf="env.nameAlias"
                  >({{ env.nameAlias }})</ng-container
                >
              </label>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="form-group row" *ngIf="!isRedeployment">
        <label class="col-sm-2 font-weight-bold text-right">Applications</label>
        <table
          class="col-sm-10 col-md-5 table table-striped table-borderless pt-0"
          *ngIf="appsWithVersion.length > 0"
        >
          <tr class="pt-0" *ngFor="let app of appsWithVersion">
            <td class="pt-0">{{ app.applicationName }}</td>
            <td class="pt-0">
              <input
                class="form-control"
                type="text"
                [(ngModel)]="app.version"
              />
            </td>
          </tr>
        </table>
      </div>

      <div class="form-group row" *ngIf="!isRedeployment">
        <label class="col-sm-2 font-weight-bold text-right">Runtime</label>
        <div class="col-sm-10 col-md-5">
          <h5 class="environments-title" *ngIf="runtime">
            {{ runtime.identifier }}
          </h5>
        </div>
      </div>

      <div class="form-group row" *ngIf="!isRedeployment">
        <label for="selectState" class="col-sm-2 font-weight-bold text-right"
          >State</label
        >
        <div class="col-sm-10 col-md-5" *ngIf="bestForSelectedRelease">
          <select
            id="selectState"
            class="form-control input-sm"
            [(ngModel)]="selectedResourceTag"
          >
            <option
              *ngFor="let resourceTag of resourceTags"
              [ngValue]="resourceTag"
              >{{ resourceTag.label }}</option
            >
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="dateDeployment" class="col-sm-2 font-weight-bold text-right"
          >Deploy at</label
        >
        <div class="col-sm-10 col-md-5">
          <app-date-time-picker
            [(ngModel)]="deploymentDate"
            name="dateDeployment"
            id="dateDeployment"
          ></app-date-time-picker>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 font-weight-bold text-right"
          >Deployment parameter</label
        >
        <div class="col-sm-2">
          <input
            class="form-control"
            list="depParamList"
            type="text"
            [(ngModel)]="transDeploymentParameter.key"
          />
          <datalist id="depParamList">
            <option *ngFor="let depParam of deploymentParameters">{{
              depParam.key
            }}</option>
          </datalist>
        </div>
        <div class="col-sm-3">
          <input
            class="form-control"
            type="text"
            [(ngModel)]="transDeploymentParameter.value"
          />
        </div>
        <div class="col-sm-2">
          <button
            type="button"
            class="btn btn-secondary"
            *ngIf="
              transDeploymentParameter.key && transDeploymentParameter.value
            "
            (click)="onAddParam()"
          >
            <app-icon icon="plus"></app-icon>
          </button>
        </div>
      </div>

      <ng-container *ngIf="transDeploymentParameters.length > 0">
        <div
          class="form-group row"
          *ngFor="let transDepParam of transDeploymentParameters"
        >
          <label
            for="selectApplicationserver"
            class="col-sm-2 font-weight-bold text-right"
          ></label>
          <div class="col-sm-2">
            <input
              class="form-control"
              disabled
              type="text"
              value="{{ transDepParam.key }}"
            />
          </div>
          <div class="col-sm-3">
            <input
              class="form-control"
              disabled
              type="text"
              value="{{ transDepParam.value }}"
            />
          </div>
          <div class="col-sm-2">
            <button
              type="button"
              class="btn btn-secondary"
              (click)="onRemoveParam(transDepParam)"
            >
              <app-icon icon="trash"></app-icon>
            </button>
          </div>
        </div>
      </ng-container>

      <div class="form-group row">
        <label class="col-sm-2 font-weight-bold text-right">Details</label>
        <div class="col-sm-10">
          <div>
            <label>
              <input type="checkbox" [(ngModel)]="simulate" />
              simulate before deployment
            </label>
          </div>
          <div>
            <label>
              <input type="checkbox" [(ngModel)]="doSendEmail" />
              send an email when deployed
            </label>
          </div>
          <div *ngIf="hasPermissionShakedownTest">
            <label>
              <input type="checkbox" [(ngModel)]="doExecuteShakedownTest" />
              execute shakedown tests when deployed
            </label>
          </div>
          <div *ngIf="doExecuteShakedownTest">
            <label>
              <input type="checkbox" [(ngModel)]="doNeighbourhoodTest" />
              test neighbourhood
            </label>
          </div>
        </div>
      </div>

      <div
        class="form-group row"
        [attr.disabled]="isReadyForDeployment() ? null : ''"
      >
        <div class="col-sm-offset-2 col-sm-10">
          <button
            type="submit"
            class="btn btn-secondary btn-main"
            [attr.disabled]="hasPermissionToRequestDeployment ? null : ''"
            (click)="requestDeployment()"
          >
            Request deployment
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-main"
            [attr.disabled]="hasPermissionToDeploy ? null : ''"
            (click)="createDeployment()"
          >
            Deploy
          </button>
        </div>
      </div>
    </span>
  </div>
</div>
