<section>
  <section *ngIf="isLoading && !errorMessage">
    Retrieving data...
  </section>
  <section *ngIf="!isLoading">
    <a href="#" (click)="goBack()">Zurück</a><br>
  </section>
  <section *ngIf="appservers">
    <h3>{{titleLabel}}</h3>
    <label>Applicationserver</label>
    <select [(ngModel)]="selectedAppserver" (ngModelChange)="onChangeAppserver($event)">
      <option [ngValue]="server" *ngFor="let server of appservers">{{server.name}}</option>
    </select>
  </section>
  <section *ngIf="selectedAppserver">
    <label>Release</label>
    <select [(ngModel)]="selectedRelease" (ngModelChange)="onChangeRelease($event)">
      <option [ngValue]="release" *ngFor="let release of releases">{{release.release}}</option>
    </select>
  </section>
  <section>
    <label>Environments</label>
    <section *ngFor="let group of environmentGroups">
      <label>{{group}}: </label>
      <span *ngFor="let env of environments">
        <span *ngIf="env.parent == group">
          <label>{{env.name}}</label>
          <input type="checkbox" (change)="onChangeEnvironment($event)" [(ngModel)]="env.selected">
        </span>
      </span>
    </section>
  </section>
  <section *ngIf="appsWithVersion">
    <section>
      <label>Applications</label>
      <section *ngFor="let app of appsWithVersion">
        <span>{{app.applicationName}} <input type="text" [(ngModel)]="app.version"></span>
      </section>
    </section>
    <section>
      <label>Runtime</label>
      <span *ngIf="runtime">{{runtime.identifier}}</span>
    </section>
  </section>
  <section>
    <label>Details</label>
    <section>
      <label>send an email when deployed</label>
      <input type="checkbox" [(ngModel)]="doSendEmail">
    </section>
    <section>
      <label>execute shakedown tests when deployed</label>
      <input type="checkbox" [(ngModel)]="doExecuteShakedownTest">
    </section>
    <section *ngIf="doExecuteShakedownTest">
      <label>test neighbourhood</label>
      <input type="checkbox" [(ngModel)]="doNeighbourhoodTest">
    </section>
  </section>
  <section *ngIf="isReadyForDeployment()">
    <input type="button" (click)="requestDeployment()" value="Request deployment">
    <input type="button" (click)="createDeployment()" value="Deploy">
  </section>
  <section *ngIf="errorMessage">
    {{errorMessage}}
  </section>
</section>
