<app-page>
  <div class="page-title">Settings</div>
  <div class="page-content row">
    <div class="col-2">
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=envs">Environments</a>
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=props">Property Types</a>
        <a class="nav-link" routerLink="/settings/tags" routerLinkActive="active">Tags</a>
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=functions">Functions</a>
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=deployparam">Deployment Parameter</a>
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=myAmw">My favorites</a>
        <a class="nav-link" href="/AMW_web/pages/settings.xhtml?mode=STP">STP Management</a>
        <a class="nav-link" routerLink="/settings/releases" routerLinkActive="active">Releases</a>
        <a class="nav-link" routerLink="/settings/permission" routerLinkActive="active">Roles and Permissions</a>
        <a class="nav-link" routerLink="/settings/application-info" routerLinkActive="active">Application Info</a>
      </nav>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-page>
