<div class="table-responsive">
  <table class="table table-sm table-borderless">
    <thead class="table-light">
      <tr>
        <th>Host</th>
        <th>Env</th>
        <th>AppServer</th>
        <th>AppServer Release</th>
        <th>Runtime</th>
        <th>Node</th>
        <th>Node Release</th>
      </tr>
      </thead>
    <tbody>
    @for (server of servers(); track server; let even = $even) {
    <tr [class.table-light]="!even">
      <td>
        <a href="{{ linkToHostUrl() }}={{ server.host }}">{{ server.host }}</a>
      </td>
      <td>{{ server.environment }}</td>
      <td>
        @if(canReadAppServer()) {
        <a
          href="/AMW_web/pages/editResourceView.xhtml?ctx={{ server.environmentId }}&id={{ server.appServerId }}"
        >{{ server.appServer }}</a
        >
        } @else {
        {{ server.appServer }} }
      </td>
      <td>{{ server.appServerRelease }}</td>
      <td>{{ server.runtime }}</td>
      <td>
        @if (canReadResources()) {
        <a href="/AMW_web/pages/editResourceView.xhtml?ctx={{ server.environmentId }}&id={{ server.nodeId }}">{{
          server.node
          }}</a>
        } @else {
        {{ server.node }}
        }
      </td>
      <td>{{ server.nodeRelease }}</td>
    </tr>
    } @empty {
    <tr>
      <td colspan="7" class="text-center">No results found</td>
    </tr>
    }
    </tbody>
  </table>
</div>
