<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Edit {{ this.resourceType()?.name }}</div>

  <div class="page-content">
    @if (this.resourceType()?.name && !permissions().canEditResourceType) {
    <div class="container">
      <span class="text-warning-2">Not Authorized! You are not allowed to Edit-ResourceTypes.</span>
    </div>
    } @else if (id() === 0 ) {
    <div class="container">
      <span>Please provide a resourceType-id to edit a resource.</span>
    </div>
    } @else {
    <div class="container">
      Loaded resourceType:
      {{ this.resourceType()?.name }}
    </div>
    <app-tile-component
      [title]="'Templates'"
      [actionName]="'New Template'"
      [canAction]="true"
      [isVisible]="false"
      [lists]="templatesData()"
      (tileAction)="add()"
      (listAction)="doListAction($event)"
    ></app-tile-component>
    <app-resource-type-list-functions
      [resourceType]="resourceType()"
      [contextId]="contextId()"
    ></app-resource-type-list-functions>
    }
  </div>
</app-page>
