@if (errorMessage) {
  <div class="alert alert-warning alert-dismissible" role="alert">
    <span [innerHTML]="errorMessage"></span>
    <app-button [variant]="'close'" (click)="cancel()"></app-button>
  </div>
}
<div class="input-group me-2">
  <input
    [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'"
    class="form-control"
    (blur)="inputBlur()"
    [ngModel]="dateString"
    (change)="onDateStringChange($event)"
    [disabled]="disabled"
    [attr.data-cy]="'date-picker'"
    placeholder="{{ dateStringFormat }}"
  />

  <div class="input-group-append">
    <!-- TODO: convert this button-->
    <button class="btn btn-secondary" [ngbPopover]="calendarContent" [disabled]="disabled" type="button">
      <app-icon icon="calendar3"></app-icon>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    <div class="d-grid">
      <ngb-datepicker name="datepicker" [ngModel]="date" (ngModelChange)="onDateChange($event)"></ngb-datepicker>
      <app-button
        [variant]="'secondary'"
        [additionalClasses]="'m-0 w-100'"
        [disabled]="!date?.day"
        (click)="toggleDateTimeState($event)"
        >OK</app-button
      >
    </div>
  </div>
</ng-template>
<!-- workaround to make the datetimepicker actually work -->
<div class="d-none">
  @if (false) {
    <div></div>
  } @else {
    <div calenderContent></div>
  }
</div>
