<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Edit {{ this.resource()?.name || this.resourceType()?.name }}</div>

  <div class="page-content">
    @if ((this.resource()?.name && !permissions().canEditResource) || this.resourceType()?.name &&
    !permissions().canEditResourceType) {
    <div class="container">
      <span class="text-warning-2">Not Authorized! You are not allowed to Edit-Resources.</span>
    </div>
    } @else if (id() === 0 && typeId() === 0) {
    <div class="container">
      <span>Please provide a resource-id to edit a resource.</span>
    </div>
    } @else {
    <div class="container">
      Loaded resource:
      {{ this.resource()?.name || this.resourceType()?.name }}
    </div>
    <div>
      <app-tile-component
        [title]="'Templates'"
        [actionName]="'New Template'"
        [canAction]="true"
        [isVisible]="false"
        [lists]="templatesData()"
        (tileAction)="add()"
        (listAction)="doListAction($event)"
      ></app-tile-component>
    </div>
    }
  </div>
</app-page>
