<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-page>
  <div class="page-title">Edit {{ this.resource()?.name }}</div>

  <div class="page-content">
    <div class="container">Loaded resource: {{ this.resource()?.name }}</div>

    <app-tile-component
      [title]="'Templates'"
      [actionName]="'New Template'"
      [canAction]="true"
      [lists]="templatesData()"
      (tileAction)="add()"
      (listAction)="doListAction($event)"
    ></app-tile-component>

    <app-resources-edit-functions
      [resourceId]="resource()?.id"
      [contextId]="contextId()"
    ></app-resources-edit-functions>
  </div>
</app-page>
