<app-tile-component
  [title]="'Templates'"
  [actionName]="'New Template'"
  [canAction]="!isLoading() && permissions().canAdd"
  (tileAction)="addTemplate()"
  [noContent]="!isLoading() && !templatesData()"
  [notAllowed]="!isLoading() && (templatesData()?.length ?? 0) <= 0"
>
  @if (isLoading()) {
    <app-placeholder-rows [rows]="4"></app-placeholder-rows>
  } @else {
    @for (list of templatesData(); track list.title) {
      <app-tile-list
        [title]="list.title"
        [data]="list.entries"
        [canEdit]="list.canEdit"
        [canDelete]="list.canDelete"
        (edit)="doListAction($event)"
        (delete)="doListAction($event)"
        (overwrite)="doListAction($event)"
      ></app-tile-list>
    }
  }
</app-tile-component>
