<div class="container">
  <div class="card">
    <div class="card-header">
      @if (permissions().canManage) {
      <app-button
        [variant]="'primary'"
        [additionalClasses]="'float-end'"
        [dataCy]="'button-add'"
        (click)="addFunction()"
        ><app-icon icon="plus-circle"></app-icon> Add function</app-button
      >
      }
    </div>
    <div class="card-body">
      <app-table
        [headers]="functionsTableHeader()"
        [data]="functions()"
        [canDelete]="permissions().canManage"
        [canEdit]="permissions().canView"
        (edit)="editFunction($event.id)"
        (delete)="deleteFunction($event.id)">
      </app-table>
    </div>
  </div>
</div>
