<app-modal-header [title]="getTitle()" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label">Function name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="function.name" />
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-items-start">
        <label class="form-label">Function content</label>
        <app-button [variant]="'light'" (click)="toggleFullscreen()">
          <app-icon [icon]="toggleFullscreenIcon"></app-icon>
        </app-button>
      </div>
      @if (!revision) {
      <app-code-editor [theme]="'light'" [(ngModel)]="function.content"></app-code-editor>
      } @else {
      <app-diff-editor [(ngModel)]="diffValue" revertControls="b-to-a"></app-diff-editor>
      }
    </div>
    @if (revisions.length > 0) {
    <div class="mb-3">
      <label class="form-label">Compare with history</label>
      <div ngbDropdown>
        <!-- TODO: convert this button-->
        <button class="btn btn-secondary dropdown-toggle" id="revisionDropdown" ngbDropdownToggle>
          {{ selectedRevisionName || 'Select Revision' }}
        </button>
        <ul ngbDropdownMenu>
          @for (revision of revisions.slice().reverse(); track revision) {
          <li ngbDropdownItem>
            <a class="dropdown-item" (click)="selectRevision(function.id, revision.revision, revision.displayName)">{{
              revision.displayName
            }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
    }
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  @if (canManage) {
  <span
    class="d-inline-block"
    tabindex="0"
    data-toggle="tooltip"
    [title]="!function.name || !function.content ? 'Please provide function name and content' : ''"
  >
    <app-button
      [variant]="'primary'"
      [disabled]="function.name.length === 0 || function.content.length === 0"
      [dataCy]="'button-save'"
      (click)="save()"
      >Save changes
    </app-button>
  </span>
  }
</div>
