<div class="container">
  <h1>Deployment Parameter Keys</h1>
  <div class="row mt-2 py-4">
    <div class="col-6 ms-auto">
      <div class="input-group">
        @if (canCreate()) {
        <input id="keyName" type="text" class="form-control" [(ngModel)]="keyName" (keyup.enter)="addKey()" />
        <app-button [variant]="'primary'" (click)="addKey()"
          ><span data-cy-slot [attr.data-cy]="'button-add'"></span><app-icon icon="plus-circle"></app-icon> Add
          key</app-button
        >
        }
      </div>
    </div>
  </div>

  <table class="table table-sm table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      @for (paramKey of paramKeys; track paramKey) {
      <tr>
        <td class="align-middle">{{ paramKey.name }}</td>
        <td>
          @if (canDelete()) {
          <app-button [variant]="'danger'" [size]="'sm'" [additionalClasses]="'me-0'" (click)="deleteKey(paramKey.id)"
            ><span data-cy-slot [attr.data-cy]="'delete-' + paramKey.id"></span><app-icon icon="trash"></app-icon
          ></app-button>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
