/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~@ng-select/ng-select/scss/default.theme.scss';

.text-warning-2 {
  color: #8a6d3b
}

.cursor-pointer {
  cursor: pointer;
}

.btn-secondary:disabled {
  background-color: rgb(130, 137, 146);
}


// legacy style definition below - check if they can be deleted
/* global table styles */
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.modal-backdrop {
  z-index: 1040 !important;
}
.modal-dialog {
  margin: 2px auto;
  z-index: 1100 !important;
}

.btn {
  margin-right: 0.3rem;
}

