<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Applications'"
  [actionName]="'Add Application'"
  [canAction]="false"
  [isVisible]="permissions().canListRelations"
  [noContent]="false"
  [notAllowed]="false"
>
  @if (error()) {
    <div class="alert alert-danger" role="alert">
      {{ error() }}
    </div>
  } @else if (!applications() || applications().length === 0) {
    <div class="no-content">
      <span>No applications configured for this application server.</span>
    </div>
  } @else {
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>Application Name</th>
          <th class="text-end">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (app of applications(); track app.id) {
          <tr>
            <td>
              <a [routerLink]="['/resource/edit']" [queryParams]="{ id: app.slaveId, ctx: contextId() }">
                {{ app.slaveName }}
              </a>
            </td>
            <td class="text-end">
              <app-button
                [size]="'sm'"
                [variant]="'light'"
                [routerLink]="['/resource/edit']"
                [queryParams]="{ id: app.slaveId, ctx: contextId() }"
              >
                Edit
              </app-button>
              @if (permissions().canRemove) {
                <app-button
                  [size]="'sm'"
                  [variant]="'light'"
                  (click)="showRemoveConfirmation(app)"
                  [additionalClasses]="'ms-1'"
                >
                  Remove
                </app-button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</app-tile-component>

<ng-template #removeApplicationConfirmation let-modal>
  <app-modal-header
    [title]="'Remove application ' + applicationToRemove()?.slaveName"
    (cancel)="modal.dismiss('Cross click')"
  ></app-modal-header>
  <div class="modal-body">
    <p class="text-warning-2">Are you sure you want to remove this application from the application server?</p>
  </div>
  <div class="modal-footer">
    <app-button [variant]="'secondary'" (click)="modal.dismiss('Cancel click')">Cancel</app-button>
    <app-button [variant]="'danger'" (click)="modal.close('Confirm click')">Remove</app-button>
  </div>
</ng-template>
