<app-loading-indicator [isLoading]="isLoadingRelations()"></app-loading-indicator>
<app-tile-component
  [title]="'Related Resource Types'"
  [actionName]="'Add Relation'"
  [canAction]="permissions().canUpdateProperty && this.contextId() === 1"
  [isCollapsed]="false"
  [noContent]="!hasRelations()"
  [notAllowed]="false"
  (tileAction)="showAddTypeRelationModal()"
>
  @if (hasRelations()) {
    <div class="relations-layout">
      <div class="relations-container">
        <app-relation-group
          [title]="'Unresolved'"
          [items]="unresolvedItems()"
          [selectedKey]="activeRelationId()"
          (itemSelected)="onItemSelected($event)"
        />
      </div>
      @if (selectedRelation(); as rel) {
        <div class="relation-detail-panel">
          <div class="relation-detail-header">
            <h3 class="relation-detail-title">{{ rel.name }}</h3>
            @if (permissions().canUpdateProperty && contextId() === 1) {
              <app-button [variant]="'secondary'" [size]="'sm'" (click)="showRemoveTypeRelationConfirmation()"
                ><app-icon icon="trash"></app-icon> Remove Relation</app-button
              >
            }
          </div>
          <div class="relation-detail-body">
            <app-loading-indicator [isLoading]="isLoadingProperties()"></app-loading-indicator>
            <app-properties-panel
              [canEdit]="permissions().canUpdateProperty"
              [isSaving]="isSaving()"
              [hasChanges]="hasChanges()"
              [hasValidationErrors]="hasValidationErrors()"
              [errorMessage]="errorMessage()"
              [successMessage]="successMessage()"
              (cancelAction)="resetChanges()"
              (saveAction)="saveChanges()"
            >
              <app-properties-list
                [properties]="properties()"
                [canEdit]="permissions().canUpdateProperty"
                [canDecrypt]="permissions().canDecryptProperties"
                [canDelete]="permissions().canUpdateProperty"
                [mode]="'resourceType'"
                [resetToken]="resetToken()"
                (valueChange)="onPropertyChange($event.name, $event.value)"
                (resetToggled)="onPropertyReset($event.name, $event.checked)"
                (validationChanged)="onPropertyValidationChange($event.name, $event.invalid)"
              ></app-properties-list>
              <div id="possibleContainerForTemplates">
                @if (contextId() === 1) {
                  <app-button [variant]="'primary'" [size]="'sm'" (click)="addRelationTemplate()">
                    <app-icon icon="plus-circle"></app-icon> New Template
                  </app-button>
                }
              </div>
            </app-properties-panel>
          </div>
        </div>
      }
    </div>
  }
</app-tile-component>

<ng-template #addTypeRelationModal let-modal>
  <app-modal-header [title]="'Add Related Resource'" (cancel)="modal.dismiss('Cross click')"></app-modal-header>
  <div class="modal-body">
    <div class="mb-3">
      <label for="slaveTypeSelect" class="form-label">Resource Type</label>
      <ng-select
        id="slaveTypeSelect"
        [ngModel]="selectedSlaveTypeId()"
        (ngModelChange)="selectedSlaveTypeId.set($event)"
        placeholder="Search or select a resource type..."
        [searchable]="true"
        [clearable]="true"
      >
        @for (type of allResourceTypes(); track type.id) {
          <ng-option [value]="type.id">{{ type.name }}</ng-option>
        }
      </ng-select>
    </div>
  </div>
  <div class="modal-footer">
    <app-button [variant]="'light'" (click)="modal.dismiss('Cancel click')">Cancel</app-button>
    <app-button
      [variant]="'primary'"
      (click)="addTypeRelation()"
      [disabled]="!selectedSlaveTypeId() || isAddingRelation()"
    >
      Add
    </app-button>
  </div>
</ng-template>

<ng-template #removeTypeRelationConfirmation let-modal>
  <app-modal-header [title]="'Remove Resource Relation'" (cancel)="modal.dismiss('Cross click')"></app-modal-header>
  <div class="modal-body">
    <p class="text">
      Are you sure you want to delete the resource relation <b>{{ selectedRelation()?.name }}</b
      >?
    </p>
    <p class="text">If you continue, all defined property values for the relation will be lost.</p>
  </div>
  <div class="modal-footer">
    <app-button [variant]="'light'" (click)="modal.dismiss('Cancel click')">Cancel</app-button>
    <app-button [variant]="'danger'" (click)="modal.close('Confirm click')">Remove</app-button>
  </div>
</ng-template>
