<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<div class="container">
  <div class="card row mt-2 mb-3">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-sm">
          @if (permissions().canCreate) {
          <app-button [variant]="'primary'" [additionalClasses]="'float-end'" (click)="addRelease()">
            <app-icon icon="plus-circle"></app-icon>
            Add release</app-button
          >
          }
        </div>
      </div>
    </div>
    <div class="card-body">
      <app-table
        [entityName]="'releases'"
        [headers]="releasesHeader()"
        [data]="results()"
        [canDelete]="permissions().canDelete"
        [canEdit]="permissions().canEdit"
        (edit)="editRelease($event.id)"
        (delete)="deleteRelease($event.id)">
      </app-table>
    </div>
    <div class="card-footer py-1">
      <div class="row bg-light align-items-center">
        <app-pagination
          [currentPage]="currentPage()"
          [lastPage]="lastPage()"
          (doSetMax)="setMaxResultsPerPage($event)"
          (doSetOffset)="setNewOffset($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</div>
