<app-modal-header [title]="getTitle()" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label">Release name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="release.name" />
    </div>
    <div class="mb-3">
      <div class="form-check">
        <label for="main" class="form-check-label">Main release</label>
        <input type="checkbox" class="form-check-input" id="main" [(ngModel)]="release.mainRelease" />
      </div>
    </div>
    <div class="mb-3">
      <label for="releaseDate" class="form-label">Installation date</label>
      <div id="releaseDate" class="form-text input-group date mb-3" required>
        <app-date-picker
          [(ngModel)]="installationDate"
          [dateStringFormat]="dateFormat"
          name="installationDate"
          id="datetimepicker"
          class="w-100"
        ></app-date-picker>
      </div>
      @if (hasInvalidDate()) {
        <div class="text-warning">The installation date is mandatory</div>
      }
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Release description</label>
      <textarea type="text" class="form-control" id="description" [(ngModel)]="release.description"></textarea>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  <app-button [variant]="'primary'" [disabled]="hasInvalidDate()" (click)="save()">{{ getTitle() }}</app-button>
</div>
