<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="restrictionType" class="nav-tabs mt-2 pt-4">
    <li [ngbNavItem]="'role'">
      <!-- TODO: convert this button-->
      <button ngbNavLink (click)="changeType('role')">Role</button>
      <ng-template ngbNavContent>
        <div class="form-group row">
          <label for="selectRole" class="col-sm-1 fw-bold text-end align-middle">Role</label>
          <div class="col-6">
            <input
              id="selectRole"
              class="form-control input-sm"
              list="roleList"
              type="text"
              [(ngModel)]="selectedRoleName"
              (ngModelChange)="onChangeRole()"
            />
            <datalist id="roleList">
              @if (roleNames.length > 0) { @for (roleName of roleNames; track roleName) {
              <option [ngValue]="roleName">{{ roleName }}</option>
              } }
            </datalist>
          </div>
        </div>
      </ng-template>
    </li>
    <li [ngbNavItem]="'user'">
      <!-- TODO: convert this button-->
      <button ngbNavLink (click)="changeType('user')">User</button>
      <ng-template ngbNavContent>
        <div class="form-group row">
          <label for="selectUsers" class="col-sm-1 fw-bold text-end">User</label>
          <div class="col-6">
            <ng-select
              id="selectUsers"
              [items]="userNames"
              multiple="true"
              [addTag]="true"
              placeholder=""
              addTagText="add user"
              [(ngModel)]="selectedUserNames"
              (change)="onChangeUser($event)"
            >
            </ng-select>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-4"></div>
  <div class="form-group">
    <label class="col-sm-1"></label>
    <div class="col">
      @if (restriction) {

      <app-restriction-edit
        class="bg-light"
        [restriction]="restriction"
        [groupedEnvironments]="groupedEnvironments"
        [permissions]="getPermissions()"
        [resourceGroups]="resourceGroups"
        [resourceTypes]="resourceTypes"
        [availableRestrictions]="assignableRestrictions"
        [delegationMode]="delegationMode"
        (cancelEdit)="cancel()"
        (saveRestriction)="persistRestriction()"
      ></app-restriction-edit>

      } @if (create) {

      <app-restriction-add
        [roleName]="selectedRoleName"
        [userNames]="selectedUserNames"
        [groupedEnvironments]="groupedEnvironments"
        [permissions]="getPermissions()"
        [resourceGroups]="resourceGroups"
        [resourceTypes]="resourceTypes"
        [availableRestrictions]="assignableRestrictions"
        [delegationMode]="delegationMode"
        (cancelEdit)="cancel()"
        (saveRestrictions)="createRestrictions($event)"
      ></app-restriction-add>

      }
    </div>
  </div>
  @if (selectedRoleName || selectedUserNames.length > 0) {
  <div class="form-group">
    <label class="col-sm-1"></label>
    <div class="col">
      <div class="card row offset-1">
        @if (!restriction && !create) {
        <div class="card-header">
          <app-button [variant]="'primary'" [additionalClasses]="'float-end'" (click)="addRestriction()"
            ><app-icon icon="plus-circle"></app-icon> Add permission
          </app-button>
        </div>
        }
        <div class="card-body">
          <app-restriction-list
            [restrictions]="assignedRestrictions"
            [resourceGroups]="resourceGroups"
            [delegationMode]="delegationMode"
            (deleteRestriction)="removeRestriction($event)"
            (editRestriction)="modifyRestriction($event)"
          ></app-restriction-list>
        </div>
      </div>
    </div>
  </div>
  }
</div>
