<div class="card row offset-1">
  <div class="card-header">{{ getTitle() }}</div>
  <div class="card-body">
    @if (permissions.length > 0) {
      <div class="form-group row">
        <label for="selectPermission" class="col-sm-3 fw-bold text-end">Permission</label>
        <div class="col-sm-9">
          <select
            id="selectPermission"
            class="form-control input-sm"
            [(ngModel)]="restriction.permission.name"
            (change)="defineAvailableOptions()"
          >
            @for (permission of permissions; track permission) {
              <option [ngValue]="permission.name">
                {{ permission.name }}
                @if (permission.old) {
                  (GLOBAL)
                }
              </option>
            }
          </select>
        </div>
      </div>
    }
    @if (restriction.permission.name && !restriction.permission.old) {
      <div class="form-group row">
        <label for="selectAction" class="col-sm-3 fw-bold text-end">Action</label>
        <div class="col-sm-9">
          <select
            id="selectAction"
            class="form-control input-sm"
            [(ngModel)]="restriction.action"
            (change)="checkAvailableEnvironments()"
            [attr.disabled]="getAvailableActions().length === 1 ? '' : null"
          >
            @for (action of getAvailableActions(); track action) {
              <option [ngValue]="action">{{ action }}</option>
            }
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-3 fw-bold text-end">Environment</label>
        <div class="col-sm-9">
          @for (group of getEnvironmentGroups(); track group) {
            <span class="d-block">{{ group }}:</span>
            @for (env of groupedEnvironments[group]; track env) {
              <div class="form-check form-check-inline">
                <label class="form-check-label"
                  ><input
                    class="form-check-input"
                    type="checkbox"
                    [attr.disabled]="env.disabled ? '' : null"
                    [(ngModel)]="env.selected"
                    (change)="checkUnique(env)"
                  />&nbsp;{{ env.name }}</label
                >
              </div>
            }
          }
        </div>
      </div>

      @if (getAvailableResourceTypePermissions().length > 0 && isResourceTypePermissionAssignable()) {
        <div class="form-group row">
          <label for="selectRTP" class="col-sm-3 fw-bold text-end">Resource Type Categories</label>
          <div class="col-sm-9">
            <select
              id="selectRTP"
              class="form-control input-sm"
              [(ngModel)]="restriction.resourceTypePermission"
              (change)="clearTypeAndGroup()"
            >
              @for (rtp of getAvailableResourceTypePermissions(); track rtp) {
                <option [ngValue]="rtp">{{ rtp }}</option>
              }
            </select>
          </div>
        </div>
      }
      @if (getAvailableResourceTypes().length > 0 && isResourceTypeAssignable()) {
        <div class="form-group row">
          <label for="selectResourceType" class="col-sm-3 fw-bold text-end">Resource Type</label>
          <div class="col-sm-9">
            <input
              id="selectResourceType"
              class="form-control input-sm"
              list="resTypeList"
              type="text"
              [ngClass]="{ 'ng-invalid': !checkType() }"
              [(ngModel)]="restriction.resourceTypeName"
            />
            <datalist id="resTypeList">
              @for (resType of getAvailableResourceTypes(); track resType) {
                <option [ngValue]="resType.name">
                  {{ resType.name }}
                </option>
              }
            </datalist>
          </div>
        </div>
      }
      @if (getAvailableResourceGroups().length > 0 && isResourceGroupAssignable()) {
        <div class="form-group row">
          <label for="selectResourceGroup" class="col-sm-3 fw-bold text-end">Resource Group</label>
          <div class="col-sm-9">
            @if (getAvailableResourceGroups().length > 1) {
              <input
                id="selectResourceGroups"
                class="form-control input-sm"
                list="resGroupList"
                type="text"
                [ngClass]="{ 'ng-invalid': !checkGroup() }"
                [(ngModel)]="resourceGroup.name"
              />
              <datalist id="resGroupList">
                @for (resGroup of getAvailableResourceGroups(); track resGroup) {
                  <option [ngValue]="resGroup.name">
                    {{ resGroup.name }}
                  </option>
                }
              </datalist>
            }
            @if (getAvailableResourceGroups().length === 1) {
              <input
                id="selectResourceGroup"
                class="form-control input-sm"
                type="text"
                disabled
                [ngClass]="{ 'ng-invalid': !checkGroup() }"
                [(ngModel)]="resourceGroup.name"
              />
            }
          </div>
        </div>
      }
    }
    @if (restriction.permission.name) {
      <div class="form-group row">
        <label class="col-sm-3 fw-bold text-end"></label>
        <div class="col-sm-9">
          @if (restriction.permission) {
            <app-button [variant]="'primary'" [disabled]="!isValidForm()" (click)="persistRestriction()">
              <app-icon icon="cloud-arrow-down"></app-icon> Save</app-button
            >
          }
          <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
        </div>
      </div>
    }
  </div>
</div>
