<div class="card row offset-1">
  <div class="card-header">Assigned</div>
  <div class="card-body">
    @if (restrictions.length > 0) {
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Permission</th>
          <th>Global</th>
          <th>Action</th>
          <th>Environment</th>
          <th>Res. Group</th>
          <th>Res. Type</th>
          <th>Res. Type Cat.</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        @for (restriction of restrictions; track restriction) {
        <tr>
          <td>{{ restriction.permission.name }}</td>
          <td>
            @if (restriction.permission.old) {
            <app-icon icon="check"></app-icon>
            }
          </td>
          <td>{{ restriction.action }}</td>
          <td>{{ restriction.contextName }}</td>
          <td>{{ getGroupName(restriction.resourceGroupId) }}</td>
          <td>{{ restriction.resourceTypeName }}</td>
          <td>{{ restriction.resourceTypePermission }}</td>
          <td>
            @if (!delegationMode) {

            <button class="btn btn-sm btn-primary" (click)="modifyRestriction(restriction)">
              <app-icon icon="pencil"></app-icon>
            </button>
            <button class="btn btn-sm btn-danger" (click)="removeRestriction(restriction.id)">
              <app-icon icon="trash"></app-icon>
            </button>

            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
