<app-tile-component
  [title]="'Relationship Templates'"
  [actionName]="'New Template'"
  [canAction]="!isLoading() && permissions().canAdd"
  [loading]="isLoading() && !showPlaceholder()"
  (tileAction)="addTemplate()"
  [noContent]="!showPlaceholder() && !templatesData()"
  [notAllowed]="!showPlaceholder() && !!templatesData() && templatesData()!.length <= 0"
  [noBorder]="true"
  [noCollapse]="true"
  [headerLevel]="3"
>
  @if (showPlaceholder()) {
    <app-placeholder-rows [rows]="3"></app-placeholder-rows>
  } @else {
    <div [attr.inert]="isLoading() ? '' : null">
      @for (list of templatesData(); track list.title) {
        <app-tile-list
          [title]="list.title"
          [data]="list.entries"
          [canEdit]="list.canEdit"
          [canDelete]="list.canDelete"
          (edit)="doListAction($event)"
          (delete)="doListAction($event)"
        ></app-tile-list>
      }
    </div>
  }
</app-tile-component>
