@if (errorMessage) {
  <div class="alert alert-warning alert-dismissible" role="alert">
    <span [innerHTML]="errorMessage"></span>
    <app-button [variant]="'close'" (click)="cancel()"></app-button>
  </div>
}
<div class="input-group me-2">
  <input
    [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'"
    class="form-control"
    (blur)="inputBlur($event)"
    [ngModel]="dateString"
    (change)="onDateStringChange($event)"
    [disabled]="disabled"
    [attr.data-cy]="'date-picker'"
    placeholder="{{ dateStringFormat }}"
  />

  <div class="input-group-append">
    <!-- TODO: convert this button-->
    <button class="btn btn-secondary" [ngbPopover]="calendarContent" [disabled]="disabled" type="button">
      <app-icon icon="calendar3"></app-icon>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    @if (!showTimePickerToggle) {
      <div class="d-grid">
        <ngb-datepicker name="datepicker" [ngModel]="datetime" (ngModelChange)="onDateChange($event)"></ngb-datepicker>
        <!-- TODO: convert this button-->
        <button
          class="btn btn-secondary m-0"
          [disabled]="!datetime?.day"
          [ngbPopover]="timePickerContent"
          type="button"
          (click)="toggleDateTimeState($event)"
        >
          <app-icon icon="clock"></app-icon>
        </button>
      </div>
    }
    @if (showTimePickerToggle) {
      <div class="d-grid">
        <!-- TODO: convert this button-->
        <button
          class="btn btn-secondary m-0"
          [ngbPopover]="calendarContent"
          type="button"
          (click)="toggleDateTimeState($event)"
        >
          <app-icon icon="calendar3"></app-icon>
        </button>
        <div class="mt-auto">
          <ngb-timepicker
            name="timepicker"
            [ngModel]="datetime"
            (ngModelChange)="onTimeChange($event)"
            [seconds]="seconds"
            [hourStep]="hourStep"
            [minuteStep]="minuteStep"
            [secondStep]="secondStep"
          ></ngb-timepicker>
        </div>
      </div>
    }
  </div>
</ng-template>

<ng-template #timePickerContent>
  <h1>content of timepicker...</h1>
</ng-template>
<!-- workaround to make the datetimepicker actually work -->
<div class="d-none">
  @if (false) {
    <div></div>
  } @else {
    <div calenderContent></div>
  }
</div>
