@if (showProperty()) {
  <div class="label-container">
    <label [for]="fieldId()" class="property-label justify-content-start">
      {{ displayLabel() }}
      @if (!hideTooltip()) {
        <!--        propertyTooltip contains some logic about subtiles ???-->
        <app-tooltip
          [canPin]="false"
          [title]="property().displayName"
          [subtitle]="'Defined in  ' + property().propertyDescriptorOrigin"
          [tableData]="[
            { label: 'TechKey', value: property().name },
            { label: 'Example value', value: property().exampleValue },
            { label: 'Default', value: property().defaultValue },
            { label: 'Comment', value: property().generalComment },
            { label: 'Machine Interpretation Key:', value: property().mik },
          ]"
          ><app-icon icon="info-circle-fill" class="label-icon"></app-icon
        ></app-tooltip>
      }
      <!--      /* propertyEditDataProvider.hasOverwrittenProperty(prop) */-->
      <app-tooltip
        [canPin]="true"
        [title]="property().displayName"
        [subtitle]="'Defined in  ' + property().propertyDescriptorOrigin"
        [tableData]="[
          { label: 'TechKey', value: property().name },
          { label: 'Example value', value: property().exampleValue },
          { label: 'Default', value: property().defaultValue },
          { label: 'Comment', value: property().generalComment },
          { label: 'Machine Interpretation Key:', value: property().mik },
        ]"
        ><app-icon icon="exclamation-triangle-fill" class="warn-icon"></app-icon
      ></app-tooltip>
    </label>
    <div class="justify-content-end gap-1 align-items-center">
      @if (isEditable()) {
        @if (canEdit()) {
          <app-button
            title="Edit"
            [size]="'sm'"
            [variant]="'link'"
            [additionalClasses]="'mx-2 p-0'"
            (click)="propertyEdit(property().descriptorId)"
          >
            <app-icon icon="pencil"></app-icon>
          </app-button>
        }
        @if (canDelete()) {
          <app-button
            title="Delete"
            [size]="'sm'"
            [variant]="'link'"
            [additionalClasses]="'p-0 link-danger'"
            (click)="propertyDelete(property().descriptorId)"
          >
            <app-icon icon="trash"></app-icon>
          </app-button>
        }
      }
    </div>
  </div>
  <div class="d-flex align-items-center input-group">
    @let placeholder = property().defaultValue || property().exampleValue || '';
    @if (!renderTextArea()) {
      <input
        [id]="fieldId()"
        type="{{ property().encrypted ? 'password' : 'text' }}"
        class="property-input form-control"
        [class.is-invalid]="hasError()"
        [class.upper-context]="toggleInputColor()"
        [class.has-mik]="toggleMikInput()"
        [(ngModel)]="localValue"
        (blur)="onBlur()"
        [placeholder]="placeholder"
        [disabled]="isDisabled()"
      />
    } @else {
      <textarea
        [id]="fieldId()"
        class="property-input form-control"
        [class.is-invalid]="hasError()"
        [class.upper-context]="toggleInputColor()"
        [class.has-mik]="toggleMikInput()"
        [(ngModel)]="localValue"
        (blur)="onBlur()"
        [placeholder]="placeholder"
        [disabled]="isDisabled()"
      ></textarea>
    }
    @if (canReset()) {
      <input
        type="checkbox"
        class="btn-check"
        [id]="resetId()"
        autocomplete="off"
        [checked]="resetChecked()"
        (change)="toggleReset($event)"
      />
      <label class="btn btn-outline-primary reset-btn" [ngbTooltip]="'Reset property'" [for]="resetId()">
        <app-icon icon="arrow-counterclockwise"></app-icon
      ></label>
    }
  </div>

  @if (validationError()) {
    <div class="validation-error">{{ validationError() }}</div>
  }
}
