@if (showProperty()) {
  <div class="d-flex gap-1 align-items-center mb-1">
    <label [for]="fieldId()" class="property-label">
      {{ displayLabel() }}
      <app-icon icon="info-circle-fill" class="label-icon"></app-icon
    ></label>
  </div>
  <div class="d-flex gap-1 align-items-center">
    <input
      [id]="fieldId()"
      type="{{ property().encrypted ? 'password' : 'text' }}"
      class="property-input"
      [class.error]="hasError()"
      [(ngModel)]="localValue"
      (blur)="onBlur()"
      [placeholder]="property().defaultValue || property().exampleValue || ''"
      [disabled]="isInputDisabled()"
    />

    @if (canReset()) {
      <input type="checkbox" [id]="resetId()" class="ms-2" [checked]="resetChecked()" (change)="toggleReset($event)" />
      <label [for]="resetId()">Reset</label>
    }

    @if (isEditable()) {
      @if (canEdit()) {
        <app-button
          title="Edit"
          [size]="'sm'"
          [variant]="'link'"
          [additionalClasses]="'mx-2 p-0'"
          (click)="propertyEdit(property().descriptorId)"
        >
          <app-icon icon="pencil"></app-icon>
        </app-button>
      }
      @if (canDelete()) {
        <app-button
          title="Delete"
          [size]="'sm'"
          [variant]="'link'"
          [additionalClasses]="'p-0 link-danger'"
          (click)="propertyDelete(property().descriptorId)"
        >
          <app-icon icon="trash"></app-icon>
        </app-button>
      }
    }
  </div>

  @if (validationError()) {
    <div class="validation-error">{{ validationError() }}</div>
  }
}
