<app-modal-header [title]="getTitle()" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label align-self-center">Function name</label>
      <input type="text" class="form-control" id="name" [disabled]="function.id !== null" [(ngModel)]="function.name" />
    </div>

    <div class="mb-3">
      <label for="miks" class="form-label align-self-center">MIKs</label>
      <div class="input-group">
        <div class="input-group-prepend badge-group">
          @for (item of function.miks; track item) {
            <div>
              <span class="badge bg-light text-dark rounded-pill">
                {{ item }}
                <app-icon
                  [hidden]="function.id !== null"
                  icon="x-circle"
                  class="cursor-pointer"
                  (click)="deleteMik(item)"
                ></app-icon>
              </span>
            </div>
          }
        </div>
        <input
          type="text"
          class="form-control"
          id="miks"
          [disabled]="function.id !== null"
          placeholder="Type something and hit enter"
          [(ngModel)]="newMik"
          (keyup.enter)="addMik()"
        />
      </div>
    </div>

    <div class="mb-3">
      <div class="d-flex justify-content-between align-content-center mb-1">
        <div>
          <label class="form-label">Function content</label>
        </div>
        <div class="d-flex">
          <app-revision-compare
            [revisions]="revisions"
            (selectedRevision)="selectRevision($event.revisionId, $event.displayName)"></app-revision-compare>
          <div class="col-1">
            <app-button [variant]="'light'" (click)="toggleFullscreen()">
              <app-icon [icon]="toggleFullscreenIcon"></app-icon>
            </app-button>
          </div>
        </div>
      </div>
      @if (!revision) {
        <div class="editor border border-primary-subtle rounded">
          <app-code-editor
            [theme]="'light'"
            [placeholder]="'Enter your code...'"
            [(ngModel)]="function.content"
          ></app-code-editor>
        </div>
      } @else {
        <div class="mx-0 row">
          <label class="col badge bg-info">Current version</label>
          <label class="col badge bg-secondary">Version: {{ selectedRevisionName }}</label>
        </div>
        <div class="editor border border-primary-subtle rounded">
          <app-diff-editor [(ngModel)]="diffValue" revertControls="b-to-a"></app-diff-editor>
        </div>
      }
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" (click)="cancel()">Cancel</app-button>
  @if (canEdit) {
    <span
      class="d-inline-block"
      tabindex="0"
      data-toggle="tooltip"
      [title]="!function.name || !function.content ? 'Please provide function name and content' : ''"
    >
      <app-button
        [variant]="'primary'"
        [disabled]="function.name.length === 0 || function.content?.length === 0"
        (click)="save()"
        >Save changes
      </app-button>
    </span>
  }
</div>
