<app-modal-header [title]="'Create application'" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-horizontal mx-2">
    <div class="mb-3">
      <label for="name" class="form-label">Application</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="app.appName" />
    </div>
    <div class="mb-3">
      <label class="form-label">Release</label>
      <ng-select id="selectRelease" [(ngModel)]="app.appReleaseId" placeholder="Select release">
        @for (release of releases(); track release.id) {
          <ng-option [value]="release.id">{{ release.name }}</ng-option>
        }
      </ng-select>
    </div>
    <div class="mb-3">
      <label class="form-label">Applicationserver</label>
      <ng-select id="selectAppServer" [(ngModel)]="appServerGroup" placeholder="Select applicationserver">
        @for (appServer of appServerGroups(); track appServer.id) {
          <ng-option [value]="appServer">{{ appServer.name }}</ng-option>
        }
      </ng-select>
    </div>
    <div class="mb-3">
      <label class="form-label">Applicationserver Release</label>
      <ng-select
        id="selectAppServerRelease"
        [(ngModel)]="appServerRelease"
        [disabled]="hasInvalidGroup()"
        placeholder="Select AS release"
      >
        @if (appServerGroup && appServerGroup.releases) {
          @for (release of appServerGroup.releases; track release.id) {
            <ng-option [value]="release">{{ release.release }}</ng-option>
          }
        }
      </ng-select>
    </div>
  </div>
</div>
<div class="modal-footer">
  <app-button [variant]="'light'" [dataTestId]="'button-cancel'" (click)="cancel()">Cancel</app-button>
  <app-button [variant]="'primary'" [disabled]="hasInvalidFields()" [dataTestId]="'button-save'" (click)="save()"
    >Save</app-button
  >
</div>
