<section>
  <section *ngIf="isLoading && !errorMessage">
    Retrieving data...
  </section>
  <section *ngIf="resource">
    <amw-resource [resource]="resource" (notifyType)='byType($event)' (notifyResourceGroup)='getResourceGroup($event)'></amw-resource>
  </section>
  <section *ngIf="resources">
    <ul>
      <li *ngFor="let resource of resources">
        <amw-resource [resource]="resource" (notifyType)='byType($event)' (notifyResourceGroup)='getResourceGroup($event)'></amw-resource>
      </li>
    </ul>
  </section>
  <section *ngIf="errorMessage">
    {{errorMessage}}
  </section>
</section>
