<span
  (mouseenter)="handleMouseEnter()"
  (mouseleave)="handleMouseLeave()"
  (click)="handleToggle($event)"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  #popover="ngbPopover"
  triggers="manual"
  placement="auto"
  container="body"
  popoverClass="tooltip-container"
>
  <ng-content></ng-content>
</span>
<ng-template #popTitle>
  <div
    (mouseenter)="handleMouseEnter()"
    (mouseleave)="handleMouseLeave()"
    class="d-flex justify-content-between align-items-center"
  >
    <span>{{ title() }}</span>
  </div>
</ng-template>
<ng-template #popContent>
  <div class="custom-tooltip-container p-1" (mouseenter)="handleMouseEnter()" (mouseleave)="handleMouseLeave()">
    @if (subtitle()) {
      <p class="small text-muted mb-2">{{ subtitle() }}</p>
    }

    @if (tableData().length > 0) {
      <table class="table table-sm table-striped border mb-0 small">
        @if (headers()) {
          <thead>
            <tr>
              @for (header of headers(); track $index) {
                <th>{{ header }}</th>
              }
            </tr>
          </thead>
        }
        <tbody>
          @for (row of tableData(); track $index) {
            <tr>
              @if (row.col3 === null) {
                <td class="fw-bold text-secondary">{{ row.col1 }}</td>
                <td class="">{{ row.col2 }}</td>
              } @else {
                <td class="">{{ row.col1 }}</td>
                <td class="">{{ row.col2 }}</td>
                <td class="">{{ row.col3 }}</td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
</ng-template>
