@if (revisions().length > 0) {
  <div class="d-flex">
    <label class="form-label align-self-center my-0 me-2">Compare with history</label>
    <div ngbDropdown>
      <app-button ngbDropdownToggle
                  [additionalClasses]="'dropdown-toggle'"
                  [variant]="'secondary'"
                  [isOutlined]="true"
                  [dataTestId]="'button-dropdown'"
      >
        {{ selectedRevisionName || 'Select Revision' }}
      </app-button>
      <ul ngbDropdownMenu>
        @for (revision of revisions().slice().reverse(); track revision) {
          <li ngbDropdownItem>
            <a
              class="dropdown-item"
              (click)="selectRevision(revision)"
            >
              {{ revision.displayName }}
            </a>
          </li>
        }
        <li>
          <hr class="dropdown-divider">
        </li>
        <!-- Clear Selection Option -->
        <li ngbDropdownItem>
          <a
            class="dropdown-item text-danger"
            (click)="resetRevision()"
          >
            Clear Selection
          </a>
        </li>
      </ul>
    </div>
  </div>
}
