@if (revisions().length > 0) {
  <div class="d-flex">
    <label for="selectRevisionDropdown" class="form-label align-self-center my-0 me-2">Compare with history</label>
    <div ngbDropdown id="selectRevisionDropdown">
      <app-button
        ngbDropdownToggle
        [additionalClasses]="'dropdown-toggle'"
        [variant]="'secondary'"
        [isOutlined]="true"
        [dataTestId]="'button-dropdown'"
      >
        {{ selectedRevisionName || 'Select Revision' }}
      </app-button>
      <ul ngbDropdownMenu>
        @for (revision of revisions().slice().reverse(); track revision) {
          <li ngbDropdownItem tabindex="-1">
            <a
              class="dropdown-item"
              tabindex="0"
              (click)="selectRevision(revision)"
              (keydown.enter)="selectRevision(revision)"
            >
              {{ revision.displayName }}
            </a>
          </li>
        }
        <li>
          <hr class="dropdown-divider" />
        </li>
        <!-- Clear Selection Option -->
        <li ngbDropdownItem tabindex="-1">
          <a class="dropdown-item text-danger" tabindex="0" (click)="resetRevision()" (keydown.enter)="resetRevision()">
            Clear Selection
          </a>
        </li>
      </ul>
    </div>
  </div>
}
