<app-loading-indicator [isLoading]="isLoading()"></app-loading-indicator>
<app-tile-component
  [title]="'Related Resources'"
  [actionName]="'Add Relation'"
  [canAction]="false"
  [isVisible]="true"
  [noContent]="!hasRelations()"
  [notAllowed]="false"
>
  @if (hasRelations()) {
    <div class="relations-container">
      <app-resource-relation-group [title]="'Runtime'" [items]="runtimeItems()" />
      <app-resource-relation-group [title]="'Consumed Resources'" [items]="consumedItems()" />
      <app-resource-relation-group [title]="'Provided Resources'" [items]="providedItems()" />
      <app-resource-relation-group [title]="'Unresolved'" [items]="unresolvedItems()" />
    </div>
  }
</app-tile-component>
