name: test and build

on:
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]

jobs:
  build_and_test:
    name: build and test
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Cache node
      uses: actions/cache@v4
      with:
        path: ~/.node
        key: ${{ runner.os }}-node-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-node

    - name: Setup chromedriver
      uses: nanasess/setup-chromedriver@master

    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: 11
        distribution: adopt

    - name: Build and test
      run: mvn --batch-mode clean install

    - name: Build Docker image
      run: AMW_docker/build.sh

    - name: Run e2e tests
      run: |
        cd AMW_e2e
        npm ci
        npx playwright install --with-deps
        npx playwright test
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: AMW_e2e/playwright-report/
        retention-days: 10

