<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<div class="col main-full">
  <div>
    <app-notification
      *ngIf="successMessage"
      [message]="successMessage"
      [messageType]="'success'"
    ></app-notification>
    <app-notification
      *ngIf="errorMessage"
      [message]="errorMessage"
      [messageType]="'warning'"
    ></app-notification>
    <app-toast></app-toast>

    <div>
      <div class="form-group row">
        <label for="selectFilterType" class="col-sm-1">Add filter</label>
        <div class="col-sm-10">
          <select
            id="selectFilterType"
            #selectModel="ngModel"
            class="form-select"
            [(ngModel)]="selectedFilterType"
            (change)="addFilter()"
          >
            <option
              *ngFor="let filterType of filterTypes"
              [ngValue]="filterType"
              >{{ filterType.name }}</option
            >
          </select>
        </div>
      </div>

      <ng-container *ngIf="filters.length > 0">
        <div
          class="form-group row"
          *ngFor="let filter of filters; let i = index"
        >
          <div class="col-sm-4 offset-1">
            <input
              class="form-control"
              disabled
              type="text"
              value="{{ filter.name }}"
            />
          </div>
          <ng-container *ngIf="filter.type === 'SpecialFilterType'">
            <div class="col-sm-6"></div>
          </ng-container>
          <ng-container *ngIf="filter.type !== 'SpecialFilterType'">
            <div class="col-sm-2">
              <select
                id="selectFilterComp"
                class="form-control"
                [attr.disabled]="filter.compOptions.length == 1 ? '' : null"
                [(ngModel)]="filter.comp"
              >
                <option
                  *ngFor="let compOption of filter.compOptions"
                  [ngValue]="compOption.name"
                  >{{ compOption.displayName }}</option
                >
              </select>
            </div>
            <ng-container *ngIf="filter.type !== 'DateType'">
              <div
                class="col-sm-4"
                *ngIf="
                  filter.type !== 'booleanType' && filter.type !== 'ENUM_TYPE'
                "
              >
                <input
                  class="form-control"
                  attr.list="list{{ i }}"
                  type="text"
                  [(ngModel)]="filter.val"
                />
                <datalist attr.id="list{{ i }}">
                  <option *ngFor="let filterValueOption of filter.valOptions">{{
                    filterValueOption
                  }}</option>
                </datalist>
              </div>
              <div
                class="col-sm-4"
                *ngIf="
                  filter.type === 'booleanType' || filter.type === 'ENUM_TYPE'
                "
              >
                <select class="form-control" [(ngModel)]="filter.val">
                  <option *ngFor="let filterValueOption of filter.valOptions">{{
                    filterValueOption
                  }}</option>
                </select>
              </div>
            </ng-container>
            <div class="col-sm-4" *ngIf="filter.type === 'DateType'">
              <div class="input-group date">
                <app-date-time-picker
                  [(ngModel)]="filter.val"
                  name="dateDeployment"
                  id="datetimepicker"
                  class="w-100"
                ></app-date-time-picker>
              </div>
            </div>
          </ng-container>
          <div class="col-sm-1">
            <button
              type="button"
              class="btn btn-link"
              (click)="removeFilter(filter)"
            >
              <app-icon icon="trash"></app-icon>
            </button>
          </div>
        </div>
      </ng-container>

      <div class="form-group row">
        <div class="col-sm-11 offset-1">
          <button
            type="submit"
            class="btn btn-primary btn-main"
            (click)="applyFilters()"
          >
            Apply filter
          </button>
          <button
            type="submit"
            class="btn btn-danger btn-main"
            [attr.disabled]="filters.length < 1 ? '' : null"
            (click)="clearFilters()"
          >
            Clear filters
          </button>
          <button
            class="btn btn-secondary btn-main"
            [attr.disabled]="filters.length < 1 ? '' : null"
            (click)="copyURL()"
          >
            <app-icon icon="clipboard"></app-icon>
            Clipboard
          </button>
          <button
            type="submit"
            class="btn btn-secondary btn-main"
            [attr.disabled]="deployments.length < 1 ? '' : null"
            (click)="exportCSV()"
          >
            <app-icon icon="cloud-arrow-down"></app-icon>
            Export
          </button>
          <button
            type="submit"
            class="btn btn-secondary btn-main"
            [attr.disabled]="editableDeployments() ? null : ''"
            (click)="showEdit()"
          >
            <app-icon icon="pencil-square"></app-icon>
            Edit
          </button>
          <ng-container *ngIf="hasPermissionToRequestDeployments">
            <a href="#/deployment/">
              <button type="submit" class="btn btn-secondary btn-main">
                <app-icon icon="plus-circle"></app-icon>
                Create
              </button>
            </a>
          </ng-container>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1">Auto refresh</label>
        <div class="col-auto">
          <div class="input-group">
            <select
              class="form-select"
              id="selectInterval"
              aria-describedby="seconds" required
              [(ngModel)]="refreshInterval"
              (change)="autoRefresh()"
            >
              <option *ngFor="let interval of refreshIntervals">{{
                interval
                }}</option>
            </select>
            <span class="input-group-text" id="seconds">Seconds</span>
          </div>
        </div>

      </div>

      <div class="form-group row" *ngIf="deployments.length > 0">
        <div class="offset-1 col-sm-11">
          <div class="border border-muted rounded">
            <amw-deployments-list
              [deployments]="deployments"
              [sortCol]="sortCol"
              [sortDirection]="sortDirection"
              [filtersForParam]="filtersForParam"
              (doConfirmDeployment)="confirmDeployment($event)"
              (doCancelDeployment)="cancelDeployment($event)"
              (doRejectDeployment)="rejectDeployment($event)"
              (editDeploymentDate)="changeDeploymentDate($event)"
              (selectAllDeployments)="switchDeployments($event)"
              (doSort)="sortDeploymentsBy($event)"
            >
            </amw-deployments-list>
            <div class="bg-light">
              <amw-pagination
                [currentPage]="currentPage"
                [lastPage]="lastPage"
                (doSetMax)="setMaxResultsPerPage($event)"
                (doSetOffset)="setNewOffset($event)"
              >
              </amw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
