/*
 * Deployment screen
 */
a.action,
a.action:hover,
span.action,
span.action:hover,
span.confirm,
span.confirm:hover,
span.delayed,
span.delayed:hover,
span.reject,
span.reject:hover {
  color: #333333;
  text-decoration: none;
}

span.confirm,
span.confirm:hover {
  color: #008400;
}

span.delayed,
span.delayed:hover {
  color: #db4a4a;
}

span.reject,
span.reject:hover {
  color: #db4a4a;
}

tr.deploy-pre_deploy,
tr.deploy-progress {
  background-color: #e9ecef;
}

tr.deploy-failed {
  background-color: #f2dede;
}

tr.deploy-success {
  background-color: #dff0d8;
}
span.action,
span.delayed,
span.state {
  margin-left: 8px;
}


/*
 * Nicer alignment of large buttons when they are getting wrapped
 */
.btn-main {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/*
 * Nicer alignment of label after selection
 */
span.interval-label {
  margin-left: 1rem;
  line-height: 2;
}

.form-group {
  margin-bottom: 1rem;
}

