/*
 * Deployment screen
 */
a.action,
a.action:hover,
span.action,
span.action:hover,
span.confirm,
span.confirm:hover,
span.delayed,
span.delayed:hover,
span.reject,
span.reject:hover {
  color: #333333;
  text-decoration: none;
}

span.confirm,
span.confirm:hover {
  color: var(--bs-success);
}

span.delayed,
span.delayed:hover {
  color: var(--bs-danger);
}

span.reject,
span.reject:hover {
  color: var(--bs-danger);
}

tr.deploy-pre_deploy,
tr.deploy-progress > td {
  background-color: var(--bs-light);
}

tr.deploy-failed > td {
  background-color: var(--bs-danger-bg-subtle);
}

tr.deploy-success > td {
  background-color: var(--bs-success-bg-subtle);
}
span.action,
span.delayed,
span.state {
  margin-left: 8px;
}

/*
 * Nicer alignment of large buttons when they are getting wrapped
 */
.btn-main {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

/*
 * Nicer alignment of label after selection
 */
span.interval-label {
  margin-left: 1rem;
  line-height: 2;
}

.form-group {
  margin-bottom: 1rem;
}
