<div class="table-responsive">
  <table
    id="deployment-list"
    class="table table-sm"
    *ngIf="deployments.length > 0"
  >
    <thead>
      <tr>
        <th class="has-checkbox">
          <input type="checkbox" (click)="switchAllDeployments()" />
          <span class="link" (click)="reSort('d.trackingId')"
            >&nbsp;Tracking id
            <ng-container *ngIf="sortCol === 'd.trackingId'">
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>
          <span class="link" (click)="reSort('d.deploymentState')"
            >State
            <ng-container *ngIf="sortCol === 'd.deploymentState'">
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>
          <span class="link" (click)="reSort('d.resourceGroup.name')"
            >App server
            <ng-container *ngIf="sortCol === 'd.resourceGroup.name'">
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>
          <span
            class="link"
            (click)="reSort('d.release.installationInProductionAt')"
            >Release
            <ng-container
              *ngIf="sortCol === 'd.release.installationInProductionAt'"
            >
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>
          <span class="link" (click)="reSort('d.context.name')"
            >Env
            <ng-container *ngIf="sortCol === 'd.context.name'">
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>
          <span class="link" (click)="reSort('d.deploymentDate')"
            >Deployment date
            <ng-container *ngIf="sortCol === 'd.deploymentDate'">
              <app-sortable-icon
                [sortDirection]="sortDirection"
              ></app-sortable-icon>
            </ng-container>
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let deployment of deployments" class="deploy-{{ deployment.state }}">
        <td class="has-checkbox">
          <input type="checkbox" [(ngModel)]="deployment.selected" />
          {{ deployment.trackingId }}
        </td>
        <td>
          <app-icon
            class="cursor-pointer"
            icon="info-circle"
            title="Show details about this deployment"
            (click)="showDetails(deployment.id)"
          ></app-icon>
          <span class="state">{{
            deployment.reason
              ? failureReason[deployment.reason]
              : deployment.state
          }}</span>
        </td>
        <td>
          <span class="link" (click)="appServerLink(deployment.resourceId)">{{
            deployment.appServerName
          }}</span>
          <ul class="nob">
            <li
              *ngFor="let appWithVersion of deployment.appsWithVersion"
              class="link"
              (click)="appLink(appWithVersion.applicationId)"
            >
              {{ appWithVersion.applicationName }} ({{
                appWithVersion.version
              }})
            </li>
          </ul>
        </td>
        <td>{{ deployment.releaseName }}</td>
        <td>
          <strong
            >{{ deployment.environmentName }}
            <ng-container *ngIf="deployment.environmentNameAlias"
              >({{ deployment.environmentNameAlias }})</ng-container
            >
          </strong>
        </td>
        <td>
          <ng-container *ngIf="deployment.actions.editPossible">
            <app-icon
              *ngIf="deployment.deploymentDelayed"
              icon="hourglass-split"
            ></app-icon>
            <span
              class="pointer"
              (click)="showDateChange(deployment.id)"
              title="change the deployment date"
            >
              <span
                [attr.class]="
                  deployment.deploymentDelayed
                    ? 'align-text-top delayed'
                    : 'align-text-top action'
                "
                >{{ deployment.deploymentDate | date: 'dd.MM.y HH:mm' }}</span
              >
            </span>
          </ng-container>
          <ng-container *ngIf="!deployment.actions.editPossible">
            <app-icon
              *ngIf="deployment.deploymentDelayed"
              icon="hourglass-split"
            ></app-icon>
            <span
              [attr.class]="
                deployment.deploymentDelayed
                  ? 'align-text-top delayed'
                  : 'align-text-top action'
              "
              >{{ deployment.deploymentDate | date: 'dd.MM.y HH:mm' }}</span
            >
          </ng-container>
        </td>
        <td>
          <ng-container *ngIf="deployment.actions.confirmPossible">
            <span
              class="text-success cursor-pointer"
              (click)="showConfirm(deployment.id)"
            >
              <app-icon icon="check-circle"></app-icon>
              <span class="ml-1">confirm</span>
            </span>
            <br />
          </ng-container>
          <ng-container *ngIf="deployment.actions.rejectPossible">
            <span class="text-danger cursor-pointer"
              (click)="showReject(deployment.id)"
            >
              <app-icon icon="x-circle"></app-icon>
              <span class="ml-1">reject</span>
            </span>
            <br />
          </ng-container>
          <ng-container *ngIf="deployment.actions.cancelPossible">
            <span (click)="showCancel(deployment.id)" class="cursor-pointer">
              <app-icon icon="slash-circle"></app-icon>
              <span class="ml-1">cancel</span>
            </span>
            <br />
          </ng-container>
          <ng-container *ngIf="deployment.actions.redeployPossible">
            <a class="action" href="#/deployment/{{ deployment.id }}">
              <app-icon icon="arrow-clockwise"></app-icon>
              <span class="ml-1">redeploy</span>
            </a>
            <br />
          </ng-container>
          <ng-container *ngIf="deployment.actions.hasLogFiles">
            <span (click)="logViewerLink(deployment.id)" class="cursor-pointer">
              <app-icon icon="journal-text"></app-icon>
              <span class="ml-1">logs</span>
            </span>
            <br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="deploymentDetails" class="modal">
  <ng-container *ngIf="deployment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            Details for deployment #{{ deployment.id }} [tracking id:
            {{ deployment.trackingId }}] for app server:
            {{ deployment.appServerName }}
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <h6>{{ deployment.state }}</h6>
          <p>
            requested by: {{ deployment.requestUser }}<br />
            created at:
            {{ deployment.deploymentJobCreationDate | date: 'dd.MM.y HH:mm' }}
          </p>
          <ng-container
            *ngIf="deployment.confirmUser && deployment.state !== 'rejected'"
          >
            <p>
              confirmed by: {{ deployment.confirmUser }}<br />
              confirmed at:
              {{
                deployment.deploymentConfirmationDate | date: 'dd.MM.y HH:mm'
              }}
            </p>
          </ng-container>
          <ng-container
            *ngIf="deployment.confirmUser && deployment.state === 'rejected'"
          >
            <p>
              rejected by: {{ deployment.confirmUser }}<br />
              rejected at:
              {{
                deployment.deploymentConfirmationDate | date: 'dd.MM.y HH:mm'
              }}
            </p>
          </ng-container>
          <ng-container *ngIf="deployment.deploymentDelayed">
            <h6>deployment job delayed</h6>
            <p>
              planed deployment date:
              {{ deployment.deploymentDate | date: 'dd.MM.y HH:mm' }}
            </p>
          </ng-container>
          <ng-container *ngIf="deployment.cancelUser">
            <h6>deployment job canceled</h6>
            <p>
              canceled by: {{ deployment.cancelUser }}<br />
              canceled at:
              {{ deployment.deploymentCancelDate | date: 'dd.MM.y HH:mm' }}
            </p>
          </ng-container>
          <ng-container *ngIf="deployment.deploymentParameters.length > 0">
            <h6>deployment parameter</h6>
            <p>
              <ng-container
                *ngFor="let param of deployment.deploymentParameters"
              >
                {{ param.key }}: {{ param.value }}<br />
              </ng-container>
            </p>
          </ng-container>
          <ng-container *ngIf="deployment.reason">
            <h6>failure reason</h6>
            <p>{{ failureReason[deployment.reason] }}</p>
          </ng-container>
          <ng-container *ngIf="deployment.statusMessage">
            <h6>state message</h6>
            <pre
              class="bg-light border p-1 rounded pre-scrollable"
            ><code>{{ deployment.statusMessage }}</code></pre>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div id="deploymentDateChange" class="modal">
  <ng-container *ngIf="deployment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            Change deployment date of deployment #{{ deployment.id }} for app
            server {{ deployment.appServerName }}
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="input-group date">
            <app-date-time-picker
              [(ngModel)]="deploymentDate"
              name="dateDeployment"
              id="datetimepicker"
              class="w-100"
            ></app-date-time-picker>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="doDateChange()"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div id="deploymentConfirmation" class="modal">
  <ng-container *ngIf="deployment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            Confirm deployment #{{ deployment.id }} for app server
            {{ deployment.appServerName }}
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <div>
              <label>
                <input
                  type="checkbox"
                  [ngModel]="deployment.sendEmailWhenDeployed"
                />
                send an email when deployed
              </label>
            </div>

            <div class="checkbox">
              <label>
                <input
                  type="checkbox"
                  [ngModel]="deployment.simulateBeforeDeployment"
                />
                simulate before deployment
              </label>
            </div>

            <div class="checkbox" *ngIf="hasPermissionShakedownTest">
              <label>
                <input
                  type="checkbox"
                  [(ngModel)]="deployment.shakedownTestsWhenDeployed"
                />
                execute shakedown tests when deployed
              </label>
            </div>
            <div class="checkbox" *ngIf="deployment.shakedownTestsWhenDeployed">
              <label>
                <input
                  type="checkbox"
                  [(ngModel)]="deployment.neighbourhoodTest"
                />
                test neighbourhood
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="doConfirm()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div id="deploymentRejection" class="modal">
  <ng-container *ngIf="deployment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            Reject deployment #{{ deployment.id }} for app server
            {{ deployment.appServerName }}
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p class="text-warning-2">
            <small>Are you sure that you want to reject this deployment?</small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="doReject()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div id="deploymentCancelation" class="modal">
  <ng-container *ngIf="deployment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">
            Cancel deployment #{{ deployment.id }} for app server
            {{ deployment.appServerName }}
          </h6>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <p class="text-warning-2">
            <small>Are you sure that you want to cancel this deployment?</small>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="doCancel()">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
