<app-modal-header [title]="'Edit deployments'" (cancel)="activeModal.dismiss('Cross click')"></app-modal-header>
<div class="modal-body">
  <span class="form-horizontal">
    <label for="selectEditAction" class="col-sm-2 form-label">Action</label>
    <div class="input-group mb-3">
      <div class="col-sm-9">
        <select id="selectEditAction" ngbAutoFocus class="form-select input-sm" [(ngModel)]="selectedEditAction">
          @for (editAction of editActions; track editAction) {
          <option [ngValue]="editAction">{{ editAction }}</option>
          }
        </select>
      </div>
    </div>
    @if (selectedEditAction === 'Change date' || selectedEditAction === 'Confirm') {

    <label for="datetimepicker" class="col-sm-2 form-label">Date</label>
    <div class="input-group mb-3">
      <div class="col-sm-9">
        <div class="input-group date">
          <app-date-time-picker [(ngModel)]="deploymentDate" name="dateDeployment" id="datetimepicker" class="w-100">
          </app-date-time-picker>
        </div>
      </div>
    </div>

    }

    <!-- Confirm Options -->
    @if (selectedEditAction === 'Confirm' && confirmationAttributes) {

    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="email"
        [(ngModel)]="confirmationAttributes.sendEmailWhenDeployed"
      />
      <label for="email">send an email when deployed</label>
    </div>

    <div class="form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="simulate"
        [(ngModel)]="confirmationAttributes.simulateBeforeDeployment"
      />
      <label for="simulate">simulate before deployment</label>
    </div>

    }
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="doEdit()">Edit</button>
</div>
