<div class="table-responsive">
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      @for (header of headers(); track header) {
        @if (header.type === 'split'){
          @if (header.nested) {
            @for (n of header.nested; track n){
              @if (n.title){
                <th scope="col">{{ header.nested[header.nested.indexOf(n)].title }}</th>
              }
            }
          }
        } @else {
          <th scope="col">{{ header.title }}</th>
        }
      }
      @if (hasAction()) {
        <th class="text-end" scope="col">Actions</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of data(); track row.id) {
        <tr>
          @for (header of headers(); track header){
            @if (header.type === 'badge-list') {
              <td>
                @if (header.nested){
                  @for (n of header.nested; track n){
                    @if (n.title){
                        @for (elem of row[header.key]; track elem){ <!-- because is a badge-LIST -->
                          <span class="badge bg-light text-dark rounded-pill">{{ elem[header.nested[header.nested.indexOf(n)].key] }}</span>
                        }
                    }
                  }
                }
              </td>
            } @else if (header.type === 'split'){
              @if (header.nested) {
                @for (n of header.nested; track n){
                  @if (n.title){
                    <td>{{ row[header.key][n.key] }}</td>
                  }
                }
              }
            }
            @else {
              <td>{{ row[header.key] }}</td>
            }
          }
          @if (hasAction()) {
            <td class="text-end">
              @if (canEdit()) {
                <app-button
                  [size]="'sm'"
                  [variant]="'primary'"
                  [additionalClasses]="'me-1'"
                  (click)="edit.emit({ action: EntryAction.edit, id: row.id })"
                >
                  <app-icon icon="pencil"></app-icon>
                </app-button>
              }
              @if (canDelete()) {
                <app-button
                  [size]="'sm'"
                  [variant]="'danger'"
                  [additionalClasses]="'me-1'"
                  (click)="delete.emit({ action: EntryAction.delete, id: row.id })"
                >
                  <app-icon icon="trash"></app-icon>
                </app-button>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
